In [783]:
# 1. import packages
import pandas as pd
from datetime import datetime
from pprint import pprint
from sklearn import datasets
import matplotlib.pyplot as plt
import seaborn as sns

In [784]:
# 2. changes settings (optional)
pd.set_option('display.max_columns', 30)
pd.set_option('display.max_rows', 100)
pd.set_option('display.precision', 3)

In [785]:
# 3. define function that will gather data from csv files, join together into a single DataFrame
def get_data(week_nums):
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        #parse_dates-list of lists. e.g. If [[1, 3]] -> combine columns 1 and 3 and parse as a single date column.
        dfs.append(pd.read_csv(file_url, parse_dates=[['DATE','TIME']], keep_date_col=True))
    return pd.concat(dfs,ignore_index = True)

In [786]:
# 4. define csv files (Nov 2019 - Feb 2020 data); call function and save output in variable
week_nums = [191102, 191109, 191116,191123,191130,191207,191214,191221,191228,200104,200111,200118,200125,200201,200208,200215,200222,200229]
turnstiles_df = get_data(week_nums)

In [787]:
# 5. clear whitespace, reindex the columns and then view the columns
turnstiles_df.columns = [column.strip() for column in turnstiles_df.columns]
turnstiles_df.reindex()
turnstiles_df.columns

Index(['DATE_TIME', 'C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION',
       'DATE', 'TIME', 'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

### There is no need to run the above code again ###

In [788]:
# 6. add any new columns and/or standardize columns
turnstiles_df['NEW_LINE'] = turnstiles_df.LINENAME.apply(lambda x: ''.join(sorted(x)))
turnstiles_df["STATION_LINE"] = turnstiles_df.STATION + " " + turnstiles_df.NEW_LINE
turnstiles_df["WEEKDAY"] = turnstiles_df['DATE_TIME'].dt.day_name()

In [744]:
# 7. get a feel for the data by viewing number of unique elements in each column, this steps helps in indentifying
#    which columns to take a close look at in the process of cleaning the data
nunique_d = {}
for x in turnstiles_df.columns:
    nunique_d[x] = turnstiles_df[x].nunique()
pprint(nunique_d)

{'C/A': 748,
 'DATE': 126,
 'DATE_TIME': 244815,
 'DESC': 1,
 'DIVISION': 6,
 'ENTRIES': 2521301,
 'EXITS': 2319072,
 'LINENAME': 114,
 'NEW_LINE': 95,
 'SCP': 225,
 'STATION': 378,
 'STATION_LINE': 468,
 'TIME': 70117,
 'UNIT': 469,
 'WEEKDAY': 7}

In [745]:
# 8. *Q* There are more unique C/A than UNITS which seems odd. A C/A (control area) is the booth where the 
#    station master sits so why are there more distinct C/A's than UNITS?

#Sense check
(turnstiles_df.groupby(['C/A','STATION_LINE',"UNIT"]).ENTRIES.count()
 .reset_index().head(50).sort_values(["UNIT"], ascending=(False)).head(100))

#    *A* It seems UNITS are a collection of turnstiles almost synonimous with station. 1 station - 1 Unit
#              On the other hand there are usually 1-4 C/A per station depending on size.

     C/A                 STATION_LINE  UNIT  ENTRIES
24  A046             CANAL ST 6JNQRWZ  R463    14370
23  A043             CANAL ST 6JNQRWZ  R462     8356
47  B010         BOTANIC GARDEN 2345S  R412     3036
46  B009                 PARK PLACE S  R411     3780
35  A064                    BOWERY JZ  R311     2269
30  A054                RECTOR ST NRW  R227     4529
31  A055                RECTOR ST NRW  R227     3770
49  B013            PROSPECT PARK BQS  R196     3767
48  B012            PROSPECT PARK BQS  R196     2262
45  B004                      7 AV BQ  R171     3017
15  A033      14 ST-UNION SQ 456LNQRW  R170     6107
16  A034      14 ST-UNION SQ 456LNQRW  R170     7581
17  A035      14 ST-UNION SQ 456LNQRW  R170     3780
18  A037      14 ST-UNION SQ 456LNQRW  R170     3011
34  A061          DELANCEY/ESSEX FJMZ  R142     5397
42  A083                  BROAD ST JZ  R125     3784
43  A084                  BROAD ST JZ  R125     4547
44  A085                  BROAD ST JZ  R125      754
36  A066             CANAL ST 6JNQRWZ  R118     2248
29  A053             CORTLANDT ST NRW  R088     4343
28  A052             CORTLANDT ST NRW  R088     6104
27  A050             CORTLANDT ST NRW  R088     9089
26  A049             CORTLANDT ST NRW  R088    10211
25  A047                CITY HALL NRW  R087     6792
22  A042                PRINCE ST NRW  R086     3782
21  A041                PRINCE ST NRW  R086     3895
20  A039                 8 ST-NYU NRW  R085     4546
19  A038                 8 ST-NYU NRW  R085     4545
14  A031                    23 ST NRW  R083     4534
13  A030                    23 ST NRW  R083     6027
12  A029                    28 ST NRW  R082     3023
11  A027                    28 ST NRW  R082     3779
7   A016                   49 ST NQRW  R081     3778
5   A013                   49 ST NQRW  R081     6804
6   A015                   49 ST NQRW  R081     4655
3   A010              57 ST-7 AV NQRW  R080     6027
4   A011              57 ST-7 AV NQRW  R080     9053
2   A007              5 AV/59 ST NQRW  R079     4565
1   A006              5 AV/59 ST NQRW  R079     6088
0   A002                59 ST 456NQRW  R051     8788
38  A071            CHAMBERS ST 456JZ  R044     4626
37  A069            CHAMBERS ST 456JZ  R044     6051
8   A021  TIMES SQ-42 ST 1237ACENQRSW  R032     6033
40  A081           FULTON ST 2345ACJZ  R028     5116
41  A082           FULTON ST 2345ACJZ  R028     2948
39  A077           FULTON ST 2345ACJZ  R028     2920
10  A025     34 ST-HERALD SQ BDFMNQRW  R023     7558
9   A022     34 ST-HERALD SQ BDFMNQRW  R022     3881
33  A060          WHITEHALL S-FRY 1RW  R001     6037
32  A058          WHITEHALL S-FRY 1RW  R001     5260

In [780]:
##### General Thoughts #####
#A few preliminary thoughts after having looked at head, tail, sample, unique data etc.
# 1. STATION_LINE is a better identifier for particular stations, so it is better to use that column for grouping
#    rather than just grouping STATION or LINE data on its own
# 2. DATE is a better identifier for grouping than DATETIME at least to achieve the MVP. DATETIME can be used to 
#    to divide a day into several timeframes but thats a Day 2 item
# 3. Before we can group on STATION_LINE and DATE, all the adjustments and data cleaning needs to be done at a
#    granular level (i.e we need to initially group the data in a way where turnstile unit info. is shown rather
#    than STATION_LINE info. as a whole)
# 4. There are 476 unique STATION_LINE in the November Dataset, and we need to find the most popular ones...

#Below code returns the names of 468 unique STATION_LINEs, while I haven't gone through the list for accuracy
#it seems complete (verified using google "how many subway stops in NYC?"). No further analysis needed for 
#completeness, accuracy, consistency are needed on STATION LINEs at this time for two reasons. The first is
#that we a reasonably certain of the most popular stations through general knowledge. The second is that we are
#looking for the MVP and cannot be spending too much time on any one attribute.
##### General Thoughts #####

for x in sorted(turnstiles_df.STATION_LINE.unique()):
    print(x)

1 AV L
103 ST 1
103 ST 6
103 ST BC
103 ST-CORONA 7
104 ST A
104 ST JZ
110 ST 6
111 ST 7
111 ST A
111 ST J
116 ST 23
116 ST 6
116 ST BC
116 ST-COLUMBIA 1
121 ST JZ
125 ST 1
125 ST 23
125 ST 456
125 ST ABCD
135 ST 23
135 ST BC
137 ST CITY COL 1
138/GRAND CONC 45
14 ST 123FLM
14 ST ACEL
14 ST-UNION SQ 456LNQRW
145 ST 1
145 ST 3
145 ST ABCD
149/GRAND CONC 245
14TH STREET 1
15 ST-PROSPECT FG
155 ST BD
155 ST C
157 ST 1
161/YANKEE STAD 4BD
163 ST-AMSTERDM C
167 ST 4
167 ST BD
168 ST 1AC
169 ST F
170 ST 4
170 ST BD
174 ST 25
174-175 STS BD
175 ST A
176 ST 4
18 AV D
18 AV F
18 AV N
18 ST 1
181 ST 1
181 ST A
182-183 STS BD
183 ST 4
190 ST A
191 ST 1
2 AV F
20 AV D
20 AV N
207 ST 1
21 ST G
21 ST-QNSBRIDGE F
215 ST 1
219 ST 25
225 ST 25
23 ST 1
23 ST 6
23 ST CE
23 ST FM
23 ST NRW
231 ST 1
233 ST 25
238 ST 1
25 AV D
25 ST R
28 ST 1
28 ST 6
28 ST NRW
3 AV 138 ST 6
3 AV L
3 AV-149 ST 25
30 AV NQW
33 ST 6
33 ST-RAWSON ST 7
34 ST-HERALD SQ BDFMNQRW
34 ST-HUDSON YD 7
34 ST-PENN STA 123ACE
36 AV NQW
36 ST DNR
36 ST MR
39 AV NQW
4 AV-9 ST DFGMNR
40 ST LOWERY ST 7
42 ST-BRYANT PK 7BDFM
45 ST R
46 ST BLISS ST 7
46 ST MR
47-50 STS ROCK BDFM
49 ST NQRW
4AV-9 ST DFGMNR
5 AV/53 ST EM
5 AV/59 ST NQRW
5 AVE 7BDFM
50 ST 1
50 ST CE
50 ST D
51 ST 6
52 ST 7
53 ST R
55 ST D
57 ST F
57 ST-7 AV NQRW
59 ST 456NQRW
59 ST COLUMBUS 1ABCD
59 ST NRW
6 AV 123FLM
61 ST WOODSIDE 7
63 DR-REGO PARK MR
65 ST MR
66 ST-LINCOLN 1
67 AV MR
68ST-HUNTER CO 6
69 ST 7
7 AV BDE
7 AV BQ
7 AV FG
71 ST D
72 ST 123
72 ST BC
72 ST-2 AVE Q
74 ST-BROADWAY 7EFMR
75 AV EF
75 ST-ELDERTS JZ
77 ST 6
77 ST R
79 ST 1
79 ST D
8 AV ACEL
8 AV N
8 ST-NYU NRW
80 ST A
81 ST-MUSEUM BC
82 ST-JACKSON H 7
85 ST-FOREST PK J
86 ST 1
86 ST 456
86 ST BC
86 ST N
86 ST R
86 ST-2 AVE Q
88 ST A
9 AV D
90 ST-ELMHURST 7
96 ST 123
96 ST 6
96 ST BC
96 ST-2 AVE Q
9TH STREET 1
ALABAMA AV J
ALLERTON AV 25
AQUEDUCT N.COND A
AQUEDUCT RACETR A
ASTOR PL 6
ASTORIA BLVD NQW
ASTORIA DITMARS NQW
ATL AV-BARCLAY 2345BDNQR
ATLANTIC AV L
AVENUE H BQ
AVENUE I F
AVENUE J BQ
AVENUE M BQ
AVENUE N F
AVENUE P F
AVENUE U BQ
AVENUE U F
AVENUE U N
AVENUE X F
B'WAY-LAFAYETTE 6BDFQ
BAY 50 ST D
BAY PKWY D
BAY PKWY F
BAY PKWY N
BAY RIDGE AV R
BAY RIDGE-95 ST R
BAYCHESTER AV 5
BEACH 105 ST AS
BEACH 25 ST A
BEACH 36 ST A
BEACH 44 ST A
BEACH 60 ST A
BEACH 67 ST A
BEACH 90 ST AS
BEACH 98 ST AS
BEDFORD AV L
BEDFORD PK BLVD 4
BEDFORD PK BLVD BD
BEDFORD-NOSTRAN G
BERGEN ST 23
BERGEN ST FG
BEVERLEY ROAD BQ
BEVERLY RD 25
BLEECKER ST 6DF
BOROUGH HALL 2345R
BOTANIC GARDEN 2345S
BOWERY JZ
BOWLING GREEN 45
BRIARWOOD EF
BRIGHTON BEACH BQ
BROAD CHANNEL AS
BROAD ST JZ
BROADWAY G
BROADWAY JCT ACJLZ
BROADWAY NQW
BRONX PARK EAST 25
BROOK AV 6
BROOKLYN BRIDGE 456JZ
BUHRE AV 6
BURKE AV 25
BURNSIDE AV 4
BUSHWICK AV L
CANAL ST 1
CANAL ST 6JNQRWZ
CANAL ST ACE
CANARSIE-ROCKAW L
CARROLL ST FG
CASTLE HILL AV 6
CATHEDRAL PKWY 1
CATHEDRAL PKWY BC
CENTRAL AV M
CENTRAL PK N110 23
CHAMBERS ST 123
CHAMBERS ST 23ACE
CHAMBERS ST 456JZ
CHAUNCEY ST JZ
CHRISTOPHER ST 1
CHURCH AV 25
CHURCH AV BQ
CHURCH AV FG
CITY / BUS 1
CITY HALL NRW
CLARK ST 23
CLASSON AV G
CLEVELAND ST J
CLINTON-WASH AV C
CLINTON-WASH AV G
CONEY IS-STILLW DFNQ
CORTELYOU RD BQ
CORTLANDT ST NRW
COURT SQ 7
COURT SQ EGM
COURT SQ-23 ST EGM
CRESCENT ST JZ
CROWN HTS-UTICA 34
CYPRESS AV 6
CYPRESS HILLS J
DEKALB AV BDNQR
DEKALB AV L
DELANCEY/ESSEX FJMZ
DITMAS AV F
DYCKMAN ST 1
DYCKMAN ST A
E 143/ST MARY'S 6
E 149 ST 6
E 180 ST 25
EAST 105 ST L
EAST BROADWAY F
EASTCHSTER/DYRE 5
EASTN PKWY-MUSM 23
ELDER AV 6
ELMHURST AV MR
EUCLID AV AC
EXCHANGE PLACE 1
FAR ROCKAWAY A
FLATBUSH AV-B.C 25
FLUSHING AV G
FLUSHING AV JM
FLUSHING-MAIN 7
FORDHAM RD 4
FORDHAM RD BD
FOREST AVE M
FOREST HILLS 71 EFMR
FRANKLIN AV 2345S
FRANKLIN AV ACS
FRANKLIN ST 1
FREEMAN ST 25
FRESH POND RD M
FT HAMILTON PKY D
FT HAMILTON PKY FG
FT HAMILTON PKY N
FULTON ST 2345ACJZ
FULTON ST G
GATES AV JZ
GRAHAM AV L
GRAND ARMY PLAZ 23
GRAND ST BD
GRAND ST L
GRAND-NEWTOWN MR
GRANT AV A
GRD CNTRL-42 ST 4567S
GREENPOINT AV G
GROVE STREET 1
GUN HILL RD 25
GUN HILL RD 5
HALSEY ST J
HALSEY ST L
HARLEM 148 ST 3
HARRISON 1
HEWES ST JM
HIGH ST AC
HOUSTON ST 1
HOWARD BCH JFK A
HOYT ST 23
HOYT-SCHER ACG
HUNTERS PT AV 7
HUNTS POINT AV 6
INTERVALE AV 25
INWOOD-207 ST A
JACKSON AV 25
JAMAICA 179 ST F
JAMAICA CENTER EJZ
JAMAICA VAN WK E
JAY ST-METROTEC ACF
JAY ST-METROTEC R
JEFFERSON ST L
JFK JAMAICA CT1 E
JKSN HT-ROOSVLT 7EFMR
JOURNAL SQUARE 1
JUNCTION BLVD 7
JUNIUS ST 3
KEW GARDENS EF
KINGS HWY BQ
KINGS HWY F
KINGS HWY N
KINGSBRIDGE RD 4
KINGSBRIDGE RD BD
KINGSTON AV 3
KINGSTON-THROOP C
KNICKERBOCKER M
KOSCIUSZKO ST J
LACKAWANNA 1
LAFAYETTE AV C
LEXINGTON AV/53 6EM
LEXINGTON AV/63 F
LIBERTY AV C
LIVONIA AV L
LONGWOOD AV 6
LORIMER ST GL
LORIMER ST JM
MARBLE HILL-225 1
MARCY AV JMZ
METROPOLITAN AV GL
METROPOLITAN AV M
METS-WILLETS PT 7
MIDDLETOWN RD 6
MONTROSE AV L
MORGAN AV L
MORISN AV/SNDVW 6
MORRIS PARK 5
MOSHOLU PKWY 4
MT EDEN AV 4
MYRTLE AV JMZ
MYRTLE-WILLOUGH G
MYRTLE-WYCKOFF LM
NASSAU AV G
NECK RD BQ
NEPTUNE AV F
NEREID AV 25
NEVINS ST 2345
NEW LOTS AV 3
NEW LOTS L
NEW UTRECHT AV DN
NEWARK BM BW 1
NEWARK C 1
NEWARK HM HE 1
NEWARK HW BMEBE 1
NEWKIRK AV 25
NEWKIRK PLAZA BQ
NORTHERN BLVD MR
NORWOOD 205 ST D
NORWOOD AV JZ
NOSTRAND AV 3
NOSTRAND AV AC
OCEAN PKWY Q
OZONE PK LEFFRT A
PARK PLACE 23ACE
PARK PLACE S
PARKCHESTER 6
PARKSIDE AV BQ
PARSONS BLVD F
PATH NEW WTC 1
PATH WTC 2 1
PAVONIA/NEWPORT 1
PELHAM BAY PARK 6
PELHAM PKWY 25
PELHAM PKWY 5
PENNSYLVANIA AV 3
PRESIDENT ST 25
PRINCE ST NRW
PROSPECT AV 25
PROSPECT AV R
PROSPECT PARK BQS
QUEENS PLAZA EMR
QUEENSBORO PLZ 7NQW
RALPH AV C
RECTOR ST 1
RECTOR ST NRW
RIT-MANHATTAN R
RIT-ROOSEVELT R
ROCKAWAY AV 3
ROCKAWAY AV C
ROCKAWAY BLVD A
ROCKAWAY PARK B AS
ROOSEVELT ISLND F
SARATOGA AV 3
SENECA AVE M
SHEEPSHEAD BAY BQ
SHEPHERD AV C
SIMPSON ST 25
SMITH-9 ST FG
SOUTH FERRY 1RW
SPRING ST 6
SPRING ST CE
ST LAWRENCE AV 6
ST. GEORGE 1
STEINWAY ST MR
STERLING ST 25
SUTPHIN BLVD F
SUTPHIN-ARCHER EJZ
SUTTER AV L
SUTTER AV-RUTLD 3
THIRTY ST 1
THIRTY THIRD ST 1
TIMES SQ 42 ST-1237ACENQRSW
TOMPKINSVILLE 1
TREMONT AV BD
TWENTY THIRD ST 1
UNION ST R
UTICA AV AC
V.CORTLANDT PK 1
VAN SICLEN AV 3
VAN SICLEN AV JZ
VAN SICLEN AVE C
VERNON-JACKSON 7
W 4 ST-WASH SQ ABCDEFM
W 8 ST-AQUARIUM FQ
WAKEFIELD/241 2
WALL ST 23
WALL ST 45
WEST FARMS SQ 25
WESTCHESTER SQ 6
WHITEHALL S-FRY 1RW
WHITLOCK AV 6
WILSON AV L
WINTHROP ST 25
WOODHAVEN BLVD JZ
WOODHAVEN BLVD MR
WOODLAWN 4
WORLD TRADE CTR 23ACE
WTC-CORTLANDT 1
YORK ST F
ZEREGA AV 6

In [670]:
#ASK TEAM#
# 9. *Q* What to do for unique station lines that are very similar?
#    A mask is similar to a where clause in SQL and will basically allow us to filter the data so that we can 
#    look at the subset of the overall population to identify discrepancies and eliminate them.
#    After having looked at the unique station list, it seems that the below two stations are very similarly 
#    named. Are they different or the same, should we be combining these records? If so, how?
mask = (turnstiles_df["STATION_LINE"].isin(['TIMES SQ-42 ST 1237ACENQRSW','TIMES SQ-42 ST 1237ACENQRS']))
(turnstiles_df[mask].groupby(["STATION_LINE","C/A","UNIT","SCP"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False))


#    *A* It was decided that both TIME SQ are the same and PORT AUTH is also Time Sq

                   STATION_LINE   C/A  UNIT       SCP  ENTRIES
0    TIMES SQ-42 ST 1237ACENQRS  R147  R033  04-00-00      764
2    TIMES SQ-42 ST 1237ACENQRS  R147  R033  04-00-02      764
7    TIMES SQ-42 ST 1237ACENQRS  R147  R033  04-05-00      764
8    TIMES SQ-42 ST 1237ACENQRS  R147  R033  04-05-01      764
3    TIMES SQ-42 ST 1237ACENQRS  R147  R033  04-00-03      763
4    TIMES SQ-42 ST 1237ACENQRS  R147  R033  04-00-04      763
1    TIMES SQ-42 ST 1237ACENQRS  R147  R033  04-00-01      762
5    TIMES SQ-42 ST 1237ACENQRS  R147  R033  04-00-05      761
34  TIMES SQ-42 ST 1237ACENQRSW  R148  R033  01-00-01      758
38  TIMES SQ-42 ST 1237ACENQRSW  R148  R033  01-03-03      756
35  TIMES SQ-42 ST 1237ACENQRSW  R148  R033  01-03-00      756
33  TIMES SQ-42 ST 1237ACENQRSW  R148  R033  01-00-00      756
23  TIMES SQ-42 ST 1237ACENQRSW  R143  R032  02-03-02      756
22  TIMES SQ-42 ST 1237ACENQRSW  R143  R032  02-03-01      756
21  TIMES SQ-42 ST 1237ACENQRSW  R143  R032  02-03-00      756
37  TIMES SQ-42 ST 1237ACENQRSW  R148  R033  01-03-02      756
16  TIMES SQ-42 ST 1237ACENQRSW  A021  R032  01-00-07      755
26  TIMES SQ-42 ST 1237ACENQRSW  R145  R032  00-00-01      755
10  TIMES SQ-42 ST 1237ACENQRSW  A021  R032  01-00-01      755
30  TIMES SQ-42 ST 1237ACENQRSW  R145  R032  00-06-00      755
17  TIMES SQ-42 ST 1237ACENQRSW  R143  R032  02-00-00      755
27  TIMES SQ-42 ST 1237ACENQRSW  R145  R032  00-00-02      755
14  TIMES SQ-42 ST 1237ACENQRSW  A021  R032  01-00-05      755
18  TIMES SQ-42 ST 1237ACENQRSW  R143  R032  02-00-01      755
13  TIMES SQ-42 ST 1237ACENQRSW  A021  R032  01-00-04      754
12  TIMES SQ-42 ST 1237ACENQRSW  A021  R032  01-00-03      754
25  TIMES SQ-42 ST 1237ACENQRSW  R145  R032  00-00-00      754
20  TIMES SQ-42 ST 1237ACENQRSW  R143  R032  02-00-03      754
28  TIMES SQ-42 ST 1237ACENQRSW  R145  R032  00-00-03      754
15  TIMES SQ-42 ST 1237ACENQRSW  A021  R032  01-00-06      754
36  TIMES SQ-42 ST 1237ACENQRSW  R148  R033  01-03-01      754
11  TIMES SQ-42 ST 1237ACENQRSW  A021  R032  01-00-02      753
44  TIMES SQ-42 ST 1237ACENQRSW  R151  R033  00-00-05      753
9   TIMES SQ-42 ST 1237ACENQRSW  A021  R032  01-00-00      753
19  TIMES SQ-42 ST 1237ACENQRSW  R143  R032  02-00-02      753
29  TIMES SQ-42 ST 1237ACENQRSW  R145  R032  00-00-04      751
32  TIMES SQ-42 ST 1237ACENQRSW  R145  R032  00-06-02      751
6    TIMES SQ-42 ST 1237ACENQRS  R147  R033  04-00-06      751
24  TIMES SQ-42 ST 1237ACENQRSW  R143  R032  02-03-03      724
41  TIMES SQ-42 ST 1237ACENQRSW  R151  R033  00-00-02      717
47  TIMES SQ-42 ST 1237ACENQRSW  R151  R033  00-00-08      717
39  TIMES SQ-42 ST 1237ACENQRSW  R151  R033  00-00-00      716
46  TIMES SQ-42 ST 1237ACENQRSW  R151  R033  00-00-07      713
40  TIMES SQ-42 ST 1237ACENQRSW  R151  R033  00-00-01      688
42  TIMES SQ-42 ST 1237ACENQRSW  R151  R033  00-00-03      683
31  TIMES SQ-42 ST 1237ACENQRSW  R145  R032  00-06-01      683
43  TIMES SQ-42 ST 1237ACENQRSW  R151  R033  00-00-04      682
45  TIMES SQ-42 ST 1237ACENQRSW  R151  R033  00-00-06      657

In [791]:
# 10. Replace station names that are duplicates to a single station name so that when we 
turnstiles_df['STATION_LINE'].replace(to_replace =['34 ST-PENN STA 123','34 ST-PENN STA ACE'], value ='34 ST-PENN STA 123ACE',inplace=True) 
turnstiles_df['STATION_LINE'].replace(to_replace =['TIMES SQ-42 ST 1237ACENQRS','42 ST-PORT AUTH 1237ACENQRSW','42 ST-PORT AUTH 1237ACEGNRSW','TIMES SQ-42 ST 1237ACENQRSW'], value ='TIMES SQ 42 ST-1237ACENQRSW',inplace=True)

In [792]:
for x in sorted(turnstiles_df.STATION_LINE.unique()):
    print(x)

1 AV L
103 ST 1
103 ST 6
103 ST BC
103 ST-CORONA 7
104 ST A
104 ST JZ
110 ST 6
111 ST 7
111 ST A
111 ST J
116 ST 23
116 ST 6
116 ST BC
116 ST-COLUMBIA 1
121 ST JZ
125 ST 1
125 ST 23
125 ST 456
125 ST ABCD
135 ST 23
135 ST BC
137 ST CITY COL 1
138/GRAND CONC 45
14 ST 123FLM
14 ST ACEL
14 ST-UNION SQ 456LNQRW
145 ST 1
145 ST 3
145 ST ABCD
149/GRAND CONC 245
14TH STREET 1
15 ST-PROSPECT FG
155 ST BD
155 ST C
157 ST 1
161/YANKEE STAD 4BD
163 ST-AMSTERDM C
167 ST 4
167 ST BD
168 ST 1AC
169 ST F
170 ST 4
170 ST BD
174 ST 25
174-175 STS BD
175 ST A
176 ST 4
18 AV D
18 AV F
18 AV N
18 ST 1
181 ST 1
181 ST A
182-183 STS BD
183 ST 4
190 ST A
191 ST 1
2 AV F
20 AV D
20 AV N
207 ST 1
21 ST G
21 ST-QNSBRIDGE F
215 ST 1
219 ST 25
225 ST 25
23 ST 1
23 ST 6
23 ST CE
23 ST FM
23 ST NRW
231 ST 1
233 ST 25
238 ST 1
25 AV D
25 ST R
28 ST 1
28 ST 6
28 ST NRW
3 AV 138 ST 6
3 AV L
3 AV-149 ST 25
30 AV NQW
33 ST 6
33 ST-RAWSON ST 7
34 ST-HERALD SQ BDFMNQRW
34 ST-HUDSON YD 7
34 ST-PENN STA 123ACE
36 AV NQW
36 ST DNR
36 ST MR
39 AV NQW
4 AV-9 ST DFGMNR
40 ST LOWERY ST 7
42 ST-BRYANT PK 7BDFM
45 ST R
46 ST BLISS ST 7
46 ST MR
47-50 STS ROCK BDFM
49 ST NQRW
4AV-9 ST DFGMNR
5 AV/53 ST EM
5 AV/59 ST NQRW
5 AVE 7BDFM
50 ST 1
50 ST CE
50 ST D
51 ST 6
52 ST 7
53 ST R
55 ST D
57 ST F
57 ST-7 AV NQRW
59 ST 456NQRW
59 ST COLUMBUS 1ABCD
59 ST NRW
6 AV 123FLM
61 ST WOODSIDE 7
63 DR-REGO PARK MR
65 ST MR
66 ST-LINCOLN 1
67 AV MR
68ST-HUNTER CO 6
69 ST 7
7 AV BDE
7 AV BQ
7 AV FG
71 ST D
72 ST 123
72 ST BC
72 ST-2 AVE Q
74 ST-BROADWAY 7EFMR
75 AV EF
75 ST-ELDERTS JZ
77 ST 6
77 ST R
79 ST 1
79 ST D
8 AV ACEL
8 AV N
8 ST-NYU NRW
80 ST A
81 ST-MUSEUM BC
82 ST-JACKSON H 7
85 ST-FOREST PK J
86 ST 1
86 ST 456
86 ST BC
86 ST N
86 ST R
86 ST-2 AVE Q
88 ST A
9 AV D
90 ST-ELMHURST 7
96 ST 123
96 ST 6
96 ST BC
96 ST-2 AVE Q
9TH STREET 1
ALABAMA AV J
ALLERTON AV 25
AQUEDUCT N.COND A
AQUEDUCT RACETR A
ASTOR PL 6
ASTORIA BLVD NQW
ASTORIA DITMARS NQW
ATL AV-BARCLAY 2345BDNQR
ATLANTIC AV L
AVENUE H BQ
AVENUE I F
AVENUE J BQ
AVENUE M BQ
AVENUE N F
AVENUE P F
AVENUE U BQ
AVENUE U F
AVENUE U N
AVENUE X F
B'WAY-LAFAYETTE 6BDFQ
BAY 50 ST D
BAY PKWY D
BAY PKWY F
BAY PKWY N
BAY RIDGE AV R
BAY RIDGE-95 ST R
BAYCHESTER AV 5
BEACH 105 ST AS
BEACH 25 ST A
BEACH 36 ST A
BEACH 44 ST A
BEACH 60 ST A
BEACH 67 ST A
BEACH 90 ST AS
BEACH 98 ST AS
BEDFORD AV L
BEDFORD PK BLVD 4
BEDFORD PK BLVD BD
BEDFORD-NOSTRAN G
BERGEN ST 23
BERGEN ST FG
BEVERLEY ROAD BQ
BEVERLY RD 25
BLEECKER ST 6DF
BOROUGH HALL 2345R
BOTANIC GARDEN 2345S
BOWERY JZ
BOWLING GREEN 45
BRIARWOOD EF
BRIGHTON BEACH BQ
BROAD CHANNEL AS
BROAD ST JZ
BROADWAY G
BROADWAY JCT ACJLZ
BROADWAY NQW
BRONX PARK EAST 25
BROOK AV 6
BROOKLYN BRIDGE 456JZ
BUHRE AV 6
BURKE AV 25
BURNSIDE AV 4
BUSHWICK AV L
CANAL ST 1
CANAL ST 6JNQRWZ
CANAL ST ACE
CANARSIE-ROCKAW L
CARROLL ST FG
CASTLE HILL AV 6
CATHEDRAL PKWY 1
CATHEDRAL PKWY BC
CENTRAL AV M
CENTRAL PK N110 23
CHAMBERS ST 123
CHAMBERS ST 23ACE
CHAMBERS ST 456JZ
CHAUNCEY ST JZ
CHRISTOPHER ST 1
CHURCH AV 25
CHURCH AV BQ
CHURCH AV FG
CITY / BUS 1
CITY HALL NRW
CLARK ST 23
CLASSON AV G
CLEVELAND ST J
CLINTON-WASH AV C
CLINTON-WASH AV G
CONEY IS-STILLW DFNQ
CORTELYOU RD BQ
CORTLANDT ST NRW
COURT SQ 7
COURT SQ EGM
COURT SQ-23 ST EGM
CRESCENT ST JZ
CROWN HTS-UTICA 34
CYPRESS AV 6
CYPRESS HILLS J
DEKALB AV BDNQR
DEKALB AV L
DELANCEY/ESSEX FJMZ
DITMAS AV F
DYCKMAN ST 1
DYCKMAN ST A
E 143/ST MARY'S 6
E 149 ST 6
E 180 ST 25
EAST 105 ST L
EAST BROADWAY F
EASTCHSTER/DYRE 5
EASTN PKWY-MUSM 23
ELDER AV 6
ELMHURST AV MR
EUCLID AV AC
EXCHANGE PLACE 1
FAR ROCKAWAY A
FLATBUSH AV-B.C 25
FLUSHING AV G
FLUSHING AV JM
FLUSHING-MAIN 7
FORDHAM RD 4
FORDHAM RD BD
FOREST AVE M
FOREST HILLS 71 EFMR
FRANKLIN AV 2345S
FRANKLIN AV ACS
FRANKLIN ST 1
FREEMAN ST 25
FRESH POND RD M
FT HAMILTON PKY D
FT HAMILTON PKY FG
FT HAMILTON PKY N
FULTON ST 2345ACJZ
FULTON ST G
GATES AV JZ
GRAHAM AV L
GRAND ARMY PLAZ 23
GRAND ST BD
GRAND ST L
GRAND-NEWTOWN MR
GRANT AV A
GRD CNTRL-42 ST 4567S
GREENPOINT AV G
GROVE STREET 1
GUN HILL RD 25
GUN HILL RD 5
HALSEY ST J
HALSEY ST L
HARLEM 148 ST 3
HARRISON 1
HEWES ST JM
HIGH ST AC
HOUSTON ST 1
HOWARD BCH JFK A
HOYT ST 23
HOYT-SCHER ACG
HUNTERS PT AV 7
HUNTS POINT AV 6
INTERVALE AV 25
INWOOD-207 ST A
JACKSON AV 25
JAMAICA 179 ST F
JAMAICA CENTER EJZ
JAMAICA VAN WK E
JAY ST-METROTEC ACF
JAY ST-METROTEC R
JEFFERSON ST L
JFK JAMAICA CT1 E
JKSN HT-ROOSVLT 7EFMR
JOURNAL SQUARE 1
JUNCTION BLVD 7
JUNIUS ST 3
KEW GARDENS EF
KINGS HWY BQ
KINGS HWY F
KINGS HWY N
KINGSBRIDGE RD 4
KINGSBRIDGE RD BD
KINGSTON AV 3
KINGSTON-THROOP C
KNICKERBOCKER M
KOSCIUSZKO ST J
LACKAWANNA 1
LAFAYETTE AV C
LEXINGTON AV/53 6EM
LEXINGTON AV/63 F
LIBERTY AV C
LIVONIA AV L
LONGWOOD AV 6
LORIMER ST GL
LORIMER ST JM
MARBLE HILL-225 1
MARCY AV JMZ
METROPOLITAN AV GL
METROPOLITAN AV M
METS-WILLETS PT 7
MIDDLETOWN RD 6
MONTROSE AV L
MORGAN AV L
MORISN AV/SNDVW 6
MORRIS PARK 5
MOSHOLU PKWY 4
MT EDEN AV 4
MYRTLE AV JMZ
MYRTLE-WILLOUGH G
MYRTLE-WYCKOFF LM
NASSAU AV G
NECK RD BQ
NEPTUNE AV F
NEREID AV 25
NEVINS ST 2345
NEW LOTS AV 3
NEW LOTS L
NEW UTRECHT AV DN
NEWARK BM BW 1
NEWARK C 1
NEWARK HM HE 1
NEWARK HW BMEBE 1
NEWKIRK AV 25
NEWKIRK PLAZA BQ
NORTHERN BLVD MR
NORWOOD 205 ST D
NORWOOD AV JZ
NOSTRAND AV 3
NOSTRAND AV AC
OCEAN PKWY Q
OZONE PK LEFFRT A
PARK PLACE 23ACE
PARK PLACE S
PARKCHESTER 6
PARKSIDE AV BQ
PARSONS BLVD F
PATH NEW WTC 1
PATH WTC 2 1
PAVONIA/NEWPORT 1
PELHAM BAY PARK 6
PELHAM PKWY 25
PELHAM PKWY 5
PENNSYLVANIA AV 3
PRESIDENT ST 25
PRINCE ST NRW
PROSPECT AV 25
PROSPECT AV R
PROSPECT PARK BQS
QUEENS PLAZA EMR
QUEENSBORO PLZ 7NQW
RALPH AV C
RECTOR ST 1
RECTOR ST NRW
RIT-MANHATTAN R
RIT-ROOSEVELT R
ROCKAWAY AV 3
ROCKAWAY AV C
ROCKAWAY BLVD A
ROCKAWAY PARK B AS
ROOSEVELT ISLND F
SARATOGA AV 3
SENECA AVE M
SHEEPSHEAD BAY BQ
SHEPHERD AV C
SIMPSON ST 25
SMITH-9 ST FG
SOUTH FERRY 1RW
SPRING ST 6
SPRING ST CE
ST LAWRENCE AV 6
ST. GEORGE 1
STEINWAY ST MR
STERLING ST 25
SUTPHIN BLVD F
SUTPHIN-ARCHER EJZ
SUTTER AV L
SUTTER AV-RUTLD 3
THIRTY ST 1
THIRTY THIRD ST 1
TIMES SQ 42 ST-1237ACENQRSW
TOMPKINSVILLE 1
TREMONT AV BD
TWENTY THIRD ST 1
UNION ST R
UTICA AV AC
V.CORTLANDT PK 1
VAN SICLEN AV 3
VAN SICLEN AV JZ
VAN SICLEN AVE C
VERNON-JACKSON 7
W 4 ST-WASH SQ ABCDEFM
W 8 ST-AQUARIUM FQ
WAKEFIELD/241 2
WALL ST 23
WALL ST 45
WEST FARMS SQ 25
WESTCHESTER SQ 6
WHITEHALL S-FRY 1RW
WHITLOCK AV 6
WILSON AV L
WINTHROP ST 25
WOODHAVEN BLVD JZ
WOODHAVEN BLVD MR
WOODLAWN 4
WORLD TRADE CTR 23ACE
WTC-CORTLANDT 1
YORK ST F
ZEREGA AV 6

In [793]:
##### General Thoughts #####
#The following code shows that the count of rows are different for each station. A station with more UNITS 
#and SUBUNITS will have more SUBUNITS being tracked..as seen below
#Grand Centeral has the most amount of data entries as it has the most turnstiles that are reporting back
#If we divide row count of each station by the turnstiles in each station, the quotient should represent the total
#clock-ins by each turnstile. We we then divde that by the number of days, it will return the daily clock-ins
##### General Thoughts #####
(turnstiles_df
 .groupby(["STATION_LINE"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False))

                    STATION_LINE  ENTRIES
434  TIMES SQ 42 ST-1237ACENQRSW    76266
88         34 ST-PENN STA 123ACE    75520
291           FULTON ST 2345ACJZ    67249
300        GRD CNTRL-42 ST 4567S    55966
86      34 ST-HERALD SQ BDFMNQRW    41770
..                           ...      ...
186              BAYCHESTER AV 5     2256
215           BRONX PARK EAST 25     2255
396                PELHAM PKWY 5     2252
430                  SUTTER AV L     1512
244               CLEVELAND ST J     1510

[463 rows x 2 columns]

In [794]:
# view df
turnstiles_df.head(10)

,DATE_TIME,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,NEW_LINE,STATION_LINE,WEEKDAY
0,2019-10-26 00:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,00:00:00,REGULAR,7247322,2455491,456NQRW,59 ST 456NQRW,Saturday
1,2019-10-26 04:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,04:00:00,REGULAR,7247336,2455499,456NQRW,59 ST 456NQRW,Saturday
2,2019-10-26 08:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,08:00:00,REGULAR,7247351,2455532,456NQRW,59 ST 456NQRW,Saturday
3,2019-10-26 12:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,12:00:00,REGULAR,7247463,2455623,456NQRW,59 ST 456NQRW,Saturday
4,2019-10-26 16:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,16:00:00,REGULAR,7247755,2455679,456NQRW,59 ST 456NQRW,Saturday
5,2019-10-26 20:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,20:00:00,REGULAR,7248159,2455733,456NQRW,59 ST 456NQRW,Saturday
6,2019-10-27 00:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/27/2019,00:00:00,REGULAR,7248310,2455757,456NQRW,59 ST 456NQRW,Sunday
7,2019-10-27 04:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/27/2019,04:00:00,REGULAR,7248339,2455765,456NQRW,59 ST 456NQRW,Sunday
8,2019-10-27 08:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/27/2019,08:00:00,REGULAR,7248356,2455782,456NQRW,59 ST 456NQRW,Sunday
9,2019-10-27 12:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/27/2019,12:00:00,REGULAR,7248418,2455860,456NQRW,59 ST 456NQRW,Sunday

In [770]:
# 11. Sanity Check to verify that "STATIONLINE","UNIT", "C/A", "SUBUNIT","DATE_TIME" is unique
(turnstiles_df
 .groupby(["STATION_LINE","UNIT","C/A", "SCP", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values(["ENTRIES"], ascending=(False))).head(10)

           STATION_LINE  UNIT   C/A       SCP           DATE_TIME  ENTRIES
0                1 AV L  R248  H007  00-00-00 2019-10-26 00:00:00        1
2461042  GUN HILL RD 25  R364  R331  00-05-01 2019-11-16 20:00:00        1
2461072  GUN HILL RD 25  R364  R331  00-05-01 2019-11-21 20:00:00        1
2461073  GUN HILL RD 25  R364  R331  00-05-01 2019-11-22 00:00:00        1
2461074  GUN HILL RD 25  R364  R331  00-05-01 2019-11-22 04:00:00        1
2461075  GUN HILL RD 25  R364  R331  00-05-01 2019-11-22 08:00:00        1
2461076  GUN HILL RD 25  R364  R331  00-05-01 2019-11-22 12:00:00        1
2461077  GUN HILL RD 25  R364  R331  00-05-01 2019-11-22 16:00:00        1
2461078  GUN HILL RD 25  R364  R331  00-05-01 2019-11-22 20:00:00        1
2461079  GUN HILL RD 25  R364  R331  00-05-01 2019-11-23 00:00:00        1

In [795]:
# 13. There are duplicate entries in the data due to DESC column, it has "RECOVR AUD" which we should remove
turnstiles_df = turnstiles_df[~turnstiles_df['DESC'].isin(["RECOVR AUD"])]
turnstiles_df.reindex()

,DATE_TIME,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,NEW_LINE,STATION_LINE,WEEKDAY
0,2019-10-26 00:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,00:00:00,REGULAR,7247322,2455491,456NQRW,59 ST 456NQRW,Saturday
1,2019-10-26 04:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,04:00:00,REGULAR,7247336,2455499,456NQRW,59 ST 456NQRW,Saturday
2,2019-10-26 08:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,08:00:00,REGULAR,7247351,2455532,456NQRW,59 ST 456NQRW,Saturday
3,2019-10-26 12:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,12:00:00,REGULAR,7247463,2455623,456NQRW,59 ST 456NQRW,Saturday
4,2019-10-26 16:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/26/2019,16:00:00,REGULAR,7247755,2455679,456NQRW,59 ST 456NQRW,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3708423,2020-02-28 04:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,02/28/2020,04:00:00,REGULAR,5554,504,R,RIT-ROOSEVELT R,Friday
3708424,2020-02-28 08:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,02/28/2020,08:00:00,REGULAR,5554,504,R,RIT-ROOSEVELT R,Friday
3708425,2020-02-28 12:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,02/28/2020,12:00:00,REGULAR,5554,504,R,RIT-ROOSEVELT R,Friday
3708426,2020-02-28 16:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,02/28/2020,16:00:00,REGULAR,5554,504,R,RIT-ROOSEVELT R,Friday
3708427,2020-02-28 20:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,02/28/2020,20:00:00,REGULAR,5554,504,R,RIT-ROOSEVELT R,Friday

In [752]:
# view df
turnstiles_df.head()

,DATE_TIME,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,NEW_LINE,STATION_LINE,WEEKDAY
0,2019-10-26 00:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-26,00:00:00,REGULAR,7247322,2455491,456NQRW,59 ST 456NQRW,Saturday
1,2019-10-26 04:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-26,04:00:00,REGULAR,7247336,2455499,456NQRW,59 ST 456NQRW,Saturday
2,2019-10-26 08:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-26,08:00:00,REGULAR,7247351,2455532,456NQRW,59 ST 456NQRW,Saturday
3,2019-10-26 12:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-26,12:00:00,REGULAR,7247463,2455623,456NQRW,59 ST 456NQRW,Saturday
4,2019-10-26 16:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-26,16:00:00,REGULAR,7247755,2455679,456NQRW,59 ST 456NQRW,Saturday

In [796]:
# 14. Now that our data is clean enough, we can start grouping DataFrame to get the daily numbers for each station
# Below we are getting the first entry for any given date at any given turnstile
turnstiles_daily = (turnstiles_df
                        .groupby(["STATION_LINE","UNIT","C/A", "SCP", "DATE"],as_index=False)
                        .ENTRIES.first())

In [797]:
# 15. For the very first date the previous date was not available, therefore we shift everything by one 
turnstiles_daily[["PREV_DATE", "PREV_ENTRIES"]] = (turnstiles_daily
                                                       .groupby(["STATION_LINE","UNIT","C/A", "SCP"])["DATE", "ENTRIES"]
                                                       .apply(lambda grp: grp.shift(1)))

In [755]:
# view df
turnstiles_daily.head(3)

,STATION_LINE,UNIT,C/A,SCP,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES
0,1 AV L,R248,H007,00-00-00,2019-10-26,15099179,NaN,nan
1,1 AV L,R248,H007,00-00-00,2019-10-27,15101784,2019-10-26,"15,099,179.0"
2,1 AV L,R248,H007,00-00-00,2019-10-28,15102950,2019-10-27,"15,101,784.0"

In [798]:
# 15. Drop the rows for the earliest date in the df
turnstiles_daily.dropna(subset=["PREV_DATE"], axis=0, inplace=True)

In [800]:
# 16. Checking to see if entries is less than previous entries
turnstiles_daily[turnstiles_daily["ENTRIES"] < turnstiles_daily["PREV_ENTRIES"]].head()

,STATION_LINE,UNIT,C/A,SCP,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES
53,1 AV L,R248,H007,00-00-00,10/26/2019,15099179,02/28/2020,"15,455,022.0"
166,1 AV L,R248,H007,00-00-01,10/26/2019,60718358,02/15/2020,"61,128,727.0"
279,1 AV L,R248,H007,00-03-00,10/26/2019,370757608,02/15/2020,"370,864,076.0"
392,1 AV L,R248,H007,00-03-01,10/26/2019,2524031,02/15/2020,"2,605,071.0"
505,1 AV L,R248,H007,00-03-02,10/26/2019,6505570,02/15/2020,"6,632,469.0"

In [801]:
# 17. define a function that will get daily counts and run logic for unique cases such as entries decreasing
# day over day and the turnstile resetting day over day
def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    if counter < 0:
        # Maybe counter is reversed?
        counter = -counter
    if counter > max_counter:
        # Maybe counter was reset to 0? 
        print(row["ENTRIES"], row["PREV_ENTRIES"])
        counter = min(row["ENTRIES"], row["PREV_ENTRIES"])
    if counter > max_counter:
        # Check it again to make sure we're not still giving a counter that's too big
        return 0
    return counter

# If counter is > 50000, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
# It'd probably be a good idea to use a number even significantly smaller than 1 million as the limit!
turnstiles_daily["DAILY_ENTRIES"] = turnstiles_daily.apply(get_daily_counts, axis=1, max_counter=50000)

15099179 15455022.0
60718358 61128727.0
370757608 370864076.0
2524031 2605071.0
6505570 6632469.0
25 77409.0
32 117788.0
29 192736.0
2376276 2695702.0
13654074 123906.0
11 13741429.0
16690109 16942120.0
8466082 8596834.0
12783672 12946971.0
11708838 11934512.0
296357 623504.0
4639786 4902534.0
15081899 15344064.0
831192 995546.0
2042316 2194356.0
25691802 25891106.0
14460580 14700780.0
11006281 11173114.0
5106871 5193184.0
15857408 16063716.0
14581044 14767329.0
2548384 2741454.0
1541343 1800801.0
6181312 6580409.0
12990037 13336504.0
11486640 11772815.0
4195358 4354210.0
4813742 4984692.0
314128 381915.0
15601 101209.0
14424 99770.0
4832609 4961171.0
5561431 5685778.0
5580823 5672090.0
3886503 4175925.0
5168806 5424394.0
14241280 14476237.0
17203453 17573065.0
16037514 16392619.0
12304277 12583854.0
3598237 3876583.0
4693684 4943251.0
2379032 2443545.0
863958 5013389.0
4982314 877275.0
3801860 3859853.0
6912484 6999076.0
4526363 4748852.0
1189047 1383414.0
8187787 8328977.0
629945 766710.0
342119 100897.0
210 355674.0
6404037 6514924.0
5863404 5955231.0
2964332 3066153.0
9526640 9823140.0
2932479 3194605.0
429341 635304.0
473854 690892.0
5882 147748.0
148764 275188.0
16952277 17079132.0
9287 180244.0
168562641 168620525.0
185562215 185634138.0
264615 389631.0
387820 581856.0
6562589 6728764.0
2089305 2269938.0
5645238 5902299.0
396399 610273.0
9020956 9208043.0
1160024516 1160208808.0
14772518 15047641.0
25258030 25629670.0
3443448 3496819.0
2014025 2072440.0
639877988 125719.0
890 639970391.0
5188225 5343714.0
6240930 6374016.0
4006943 4187190.0
4805301 4932838.0
1691007471 1690788495.0
2653229 2884909.0
11133396 11314462.0
2428829 2607987.0
7351936 7531385.0
135501423 135689500.0
420640692 420814324.0
245345792 245540018.0
8 6813538.0
6661408 31210.0
4704760 4918212.0
5994989 6290671.0
1860016 2253891.0
78630454 79051127.0
69151360 69358783.0
7444567 7635039.0
1776808 1951635.0
990309785 990503492.0
0 458752.0
458752 0.0
1862510884 1862716478.0
8084876 8287098.0
3661496 3816870.0
5435 135104.0
6272204 6401678.0
5083152 5186182.0
123123 257834.0
9368645 9545785.0
2938537 3014122.0
393690316 394079413.0
11324684 11661456.0
14179799 14416757.0
8875715 9045009.0
4386582 4568040.0
12662751 12902722.0
14281908 14609107.0
19309327 19759315.0
13066568 13288162.0
2038015 2238993.0
6520071 6697798.0
11804553 11994549.0
6985400 7245639.0
1527889 1652556.0
527010 645848.0
6934868 7065498.0
68305735 68418197.0
3654621 3747003.0
1223119 1297733.0
4361485 4430592.0
7120491 7269659.0
2079272 2135227.0
4041270 4094283.0
10981592 11086605.0
13203192 13450523.0
17401707 17708843.0
9151174 9448728.0
6593766 6792504.0
4008146 4112300.0
4500975 4571570.0
991583898 991674870.0
1225288664 1225029750.0
2872492 3035304.0
1212746 1286790.0
467119 560687.0
86464335 86649640.0
11400023 11681433.0
10617482 10928096.0
141564854 141879144.0
2747548 2934549.0
8737087 8860727.0
6022220 6100531.0
1419515 1477155.0
7058523 7138603.0
1642 197561.0
6704574 6800941.0
673 245240.0
126374 1847.0
133399 256374.0
5856710 6043917.0
1003937 110582.0
13 1058900.0
5863102 110002.0
5 5914937.0
5000805 5155518.0
3674430 3728775.0
2646010 2745435.0
11144181 11287453.0
2587507 2736257.0
188086 315316.0
4420778 4499827.0
207618 354164.0
213638 334035.0
319265 568569.0
1405756 1567808.0
8470958 8633971.0
2129009716 2128788445.0
1287 14003866.0
13768606 64417.0
8100408 8604559.0
45845 101498.0
23381 102480.0
45880 199490.0
75543 333441.0
3771032 3847608.0
211057 325424.0
2316667 2524541.0
14861409 15106793.0
6998027 7362020.0
6222236 6707447.0
17216691 17883916.0
70920897 71166487.0
2122337 2206685.0
919912 1087257.0
4489747 4764937.0
3822350 155443.0
505 3846725.0
6391838 6698890.0
12880203 13397693.0
113211 248805.0
104071 220942.0
124155 256439.0
138625 303098.0
37537 117326.0
920483 1067972.0
4339249 4593598.0
2893773 3317705.0
500141 944570.0
5548349 5978931.0
7449489 7846302.0
25890670 26291352.0
15481508 16058818.0
901592 1417059.0
16488597 16973208.0
24622783 25014090.0
11359640 11710285.0
6336412 6709560.0
184677 316052.0
309196 496489.0
310677 495524.0
198257 312774.0
135257668 135325557.0
655344744 655409017.0
3722325 3815239.0
4671488 4783115.0
22057460 22362956.0
1629283 1820714.0
62 753211.0
638841 62.0
4449043 4569985.0
1649483 1767999.0
167997 232932.0
7414616 7570557.0
10227118 10443542.0
23523973 23903020.0
18475167 18868153.0
2602567 2904779.0
11539408 11757828.0
10939926 11164598.0
11816640 12044082.0
20942517 21346260.0
18765156 188649.0
505 18803425.0
306475 487460.0
514199 722332.0
1215684 1513356.0
1591874 241455.0
139 1775288.0
93122 221960.0
303151 540752.0
145889 414676.0
418 374278.0
233170 51795.0
86359 165507.0
3582484 3702552.0
1312318 1388630.0
667407 770461.0
118207134 118305722.0
6505400 6677186.0
9125682 9250770.0
6668082 6761984.0
6640723 6810301.0
4231427 4295072.0
5806259 5923553.0
3918607 4055673.0
886236 971784.0
145786 507101.0
7001699 115701.0
1891 7121686.0
3141852 3290619.0
3005622 3086347.0
6233321 6341283.0
1399239117 1399059405.0
4678052 4888793.0
557197814 557446843.0
11428729 11670713.0
4585038 4662922.0
4037501 4166930.0
4805075 5060264.0
506727 676822.0
417252 556054.0
896856 980221.0
2445214 2522027.0
3415152 3505863.0
1711303053 1711435854.0
1167658 1266333.0
4724166 4782224.0
264014 216.0
82 264026.0
8644692 8724499.0
152825 209668.0
184899 247513.0
163878 222346.0
464070 615371.0
633844 826451.0
3498332 3680552.0
15831741 16043365.0
630528 951418.0
131669 197571.0
133476 206358.0
259889 324112.0
67120019 292115.0
271502 67132815.0
1828470374 1828250046.0
9031511 9199512.0
1780140063 1780305051.0
10226299 10421995.0
53337925 53528899.0
2727258 2857399.0
2573335 2709028.0
1365452 1675560.0
3329058 3548339.0
523596 681867.0
2316764 2450228.0
2341779 2491845.0
5527757 5778577.0
77 11163949.0
11156642 35354.0
7 123549.0
12 152349.0
11 146448.0
3142676 3219125.0
2990278 3051867.0
4677217 4829314.0
1802825 1903730.0
7393653 7485168.0
3141982 3251506.0
50613197 50763463.0
560637 757607.0
1481683 1703560.0
7687162 7979691.0
757107 830211.0
738115 827462.0
681657 806026.0
5205111 78246.0
748 5270575.0
7037093 7132946.0
4007318 4126557.0
1974242 2040832.0
478469 731283.0
509 10584482.0
10435012 12998.0
688539034 688405577.0
335644 474424.0
1863878 1940500.0
4486593 4562760.0
183597 268002.0
4104116 4248242.0
628132 867106.0
17261432 17510140.0
7085465 7266289.0
3223714 3289814.0
705279 765773.0
3210179 3281435.0
120338804 120511829.0
2293045 2440772.0
1424858 352496270.0
352351971 1425810.0
2218187 107576.0
748 2242013.0
7652512 7789032.0
6245912 6419309.0
14942559 15242547.0
4287018 4471961.0
2819379 3018722.0
10452130 10593827.0
1900844 6048948.0
5999222 1919211.0
7882707 7981200.0
117440614 83886113.0
83886083 117440614.0
838230 470274.0
458861 843548.0
240493 314551.0
7913108 7982788.0
6809103 6923477.0
1946636634 1946729743.0
73329 144720.0
117782667 117864252.0
1212822 1282103.0
4807388 5033489.0
4440536 4614333.0
15414364 15651512.0
178836 263581.0
1248812 1299723.0
637393 703357.0
1039 354270.0
177496 72022.0
11133696 11329727.0
947447 1116455.0
16062456 16275412.0
377 9277590.0
8941466 13616.0
10555259 10682286.0
14902558 15082650.0
10031713 10168755.0
10610189 10895370.0
108 8294888.0
8175668 67968.0
10262990 10468764.0
13969076 14170029.0
1332208 1478116.0
1475724370 1475534741.0
1781357118 1781503670.0
3801139 3921898.0
1225389668 1225523398.0
1594608525 1594812012.0
1441996957 1441780077.0
4389379 4552310.0
7517271 7678600.0
2498238 2610923.0
134045 288815.0
868734 1053334.0
3067595 3276881.0
9120780 9287071.0
4605996 4762956.0
7579636 7774430.0
18418501 18731304.0
6580845 6846575.0
13464200 13773489.0
7234831 7681696.0
4632784 4877284.0
7873027 8018449.0
1139806 1304060.0
130981 247232.0
4153276 4246014.0
7325669 7400127.0
6032495 6159628.0
10054347 10230589.0
10266717 10401411.0
4384143 4561541.0
135201187 135269471.0
582589 640251.0
3363085 3449777.0
7795545 7967477.0
9060090 9307418.0
12774282 13116694.0
15960580 16380659.0
300354 361432.0
2535229 15833.0
20 2554803.0
4299004 4360864.0
906161980 906295812.0
3414243 3505548.0
6383729 6497281.0
7379893 7539533.0
1953651104 1953764100.0
578930 715373.0
2193537 2633192.0
7497517 7806191.0
14863841 15211168.0
160129 48133.0
681 200908.0
263885 62637.0
828 305006.0
2387207 2494265.0
1067 398842.0
298405 41996.0
1999824682 2000122697.0
7233 188866.0
1376702 1518354.0
1301530 1370807.0
188316 287415.0
35424480 35509952.0
2638974 2755904.0
1125498 1319451.0
364007 552977.0
330855 492138.0
128290 276813.0
192059 451998.0
318394 579119.0

334806 540772.0
5343763 5490995.0
4687833 4858733.0
104386359 104600479.0
42749 338588.0
5461290 5756590.0
11217375 11437472.0
19737774 269776.0
2292 19783215.0
4050948 4342908.0
2456241 2626210.0
2786780 2935319.0
5231854 5375139.0
3783393 3947762.0
270532634 535694.0
505193 270547467.0
6862977 7109266.0
6804490 189859.0
16 6919384.0
6570478 6873033.0
722638 1027893.0
8132411 8453472.0
582379 833815.0
238384483 238586486.0
675167265 675435528.0
1824820619 1824553842.0
339400781 339655695.0
580262 839936.0
453620 652248.0
159826 285181.0
7101415 7245791.0
5325992 5442935.0
6661181 6808596.0
10163164 10382986.0
11319181 11656020.0
8838999 9066791.0
85974447 86115523.0
1565140 1813234.0
4835160 5013482.0
6706161 6843745.0
2870570 2928765.0
4151761 4235895.0
290955 106458.0
1043 334720.0
8372170 8629009.0
13632416 13816717.0
15782265 15986315.0
11066507 11370580.0
14 462037.0
90080 8377.0
393269 96316.0
458861 393320.0
458761 106666.0
131109 458764.0
458752 131215.0
131401 458752.0
589865 132906.0
102660 591578.0
4225796 4338263.0
10464442 10657104.0
86497708 86693320.0
6386517 6502907.0
8523165 8671651.0
8601749 8772133.0
3676199 3845300.0
1777029 1913922.0
4799896 5020777.0
1888107 1941731.0
1459923 1539361.0
11300172 11487527.0
4284125 4334451.0
14932347 15143967.0
5981483 6206746.0
5420253 5691649.0
1706277 2008991.0
3748821 64437.0
314 3782849.0
2560324 2678684.0
6031890 6147985.0
2706583 2836027.0
3044488 3096370.0
143518 227845.0
1041597 1130804.0
2740350 2831107.0
232521 332922.0
7057216 7188050.0
573829 786067.0
2093310 2386902.0
444748 683925.0
4941614 5111136.0
2136389 2301483.0
11553482 11741062.0
5068354 5231705.0
3676827 3838290.0
361742 553054.0
2279214 2432071.0
2779883 2917268.0
2930950 3065293.0
4280358 4343619.0
6554077 6680813.0
7815621 7986982.0
4801986 5011609.0
2046629346 2046457693.0
273052 467462.0
11967930 12247094.0
1177102 1405243.0
3258701 3335124.0
1344216 1419047.0
2113660 2253304.0
7812195 7948240.0
6590020 6672970.0
4860318 4949272.0
20604042 20955065.0
2496710 2909161.0
881891682 882172079.0
5870349 6113485.0
1335643 1568809.0
4947346 5101177.0
2826308 2929220.0
1308989183 89033586.0
88963191 1309035047.0
53101674 704878447.0
704808902 53156867.0
207491 365601.0
1895421978 110089059.0
110012774 1895373449.0
148428 303813.0
1674281 1833065.0
3133143 3298497.0
503811 680427.0
10835971 11101992.0
12139176 12453025.0
1952468 2423945.0
6174647 6444587.0
4422394 4594285.0
218877 352138.0
7394614 7501225.0
10155479 10277155.0
1055046984 1054877362.0
10328808 10595084.0
6615702 6816335.0
4067976 4231723.0
743447 797873.0
1186124 1243081.0
3365669 3457145.0
8106453 8214336.0
5190285 5262851.0
1298634 1354619.0
2664954 2758793.0
3580069 3691437.0
5481079 5683522.0
103740662 103957002.0
119700374 119902240.0
8081650 8191018.0
566661 662613.0
10722646 10876904.0
1777111 1927967.0
7516968 7610188.0
1243624 1376896.0
2781360 2911187.0
5966912 6080356.0
27850290 28427286.0
27613641 28115536.0
15595266 16121941.0
67750954 67820547.0
5434254 5550047.0
1587548 1683974.0
1847 9753069.0
9644678 86642.0
7602524 7818802.0
9328968 9504719.0
1902830 2031857.0
351693 422856.0
3979599 4041682.0
58085622 58215338.0
12234806 12430020.0
3618851 3852297.0
1043396688 1043662192.0
1170189 1630843.0
7588988 7935266.0
2177 16347721.0
16069310 98277.0
4828631 5170359.0
941725 1002862.0
1833456 2013296.0
597445 719412.0
1677189 1797069.0
471125 564693.0
16 6566042.0
6441278 28492.0
5061903 5326317.0
2483678 2820057.0
1254418324 28554762.0
28279967 1254254914.0
3153 1254422239.0
1254723811 156437.0
1323114 1888973.0
4973418 5262052.0
13332082 13778806.0
14406687 14830808.0
8373682 8763412.0
7850387 8253574.0
1237852936 1237441957.0
1556059 2048517.0
11241959 11512156.0
15219209 15505582.0
85130616 501025.0
458780 85175007.0
3102833 3204243.0
4424658 4570388.0
2178319 2430709.0
2216 3323164.0
3077423 128450.0
25759226 26204835.0
460070 920716.0
544691 651333.0
1051334 1199358.0
1524382 1724703.0
1820805 2031487.0
1903466 2121727.0
1641635 1848673.0
32488 206317.0
983626 1118749.0
741647 844760.0
329649 411206.0
438789 514970.0
607368 675869.0
112122 188077.0
2426989 2533499.0
8724642 8886694.0
2162591 2352377.0
10981131 11183339.0
1139425 1452622.0
4865526 5111809.0
566732 838047.0
576707 873669.0
300849 552722.0
501744 744835.0
316515 390150.0
1465499 1638536.0
10149249 10370297.0
8463059 8714298.0
3948365 4141684.0
1065941 1148624.0
269835 436405.0
3028695 3161153.0
9391969 9503524.0
1036351 1160525.0
36408 241831.0
7084368 7160275.0
5933598 6041042.0
434888 559509.0
4253455 4572979.0
1217085126 1217411562.0
6824963 7148751.0
21092203 21378877.0
18995343 19285195.0
4785511 11470775.0
66 4835856.0
11337385 23209.0
1250706 1479879.0
6171091 6324110.0
8026797 8235777.0
8857307 9099909.0
6132774 6256757.0
3363822 3455809.0
3226004 3317192.0
5359101 5480285.0
1132044 1353235.0
4322051 4385413.0
3907027 4012633.0
1927011 2046526.0
419 2018060.0
1923305 31045.0
5511990 5618645.0
2415319 2502463.0
449458 513931.0
2966080 3055189.0
16063236 16317754.0
4911898 5143399.0
7305002 7491707.0
172840 355668.0
352685 528423.0
9714927 9912969.0
5182588 5242575.0
85709 187085.0
43858 166354.0
808411 916211.0
109441 235791.0
12751836 12955338.0
1232657 1514772.0
117523051 5587.0
41 117527150.0
7323008 7546829.0
1875700 2055760.0
262869 6190061.0
6111350 281720.0
86397 200271.0
10113690 10239466.0
5240992 5473548.0
1315779 1564329.0
9797068 430517.0
756 9852707.0
10585329 11014112.0
23286064 23734033.0
2460928 2872633.0
20144213 20528376.0
695206 1011577.0
6459175 6708193.0
10205795 10427729.0
2071917 2271371.0
1569625724 1569783160.0
439972 571339.0
98045085 97895756.0
5380493 5520558.0
474116 592244.0
528928 690955.0
669128 876786.0
7465661 7690071.0
10842891 11024084.0
1154270507 13402272.0
13231167 1154281669.0
7136693 7316612.0
542326 670001.0
67956352 68029621.0
17709739 17776575.0
8456978 8515083.0
2516707 2587374.0
5565759 5680231.0
240 89955.0
1188613 1441501.0
5932263 6240268.0
4830385 5083639.0
9520208 9715049.0
8862842 9032821.0
12502766 12742610.0
9509500 9823668.0
101105128 101163202.0
881849 947385.0
513973 564705.0
1082910 1174903.0
894956 976620.0
245813 2525882.0
2526462 245813.0
1774289 4513887.0
4514245 1774289.0
3237543 931242.0
931717 3237543.0
11004220 114926.0
115675 11004220.0
12337704 161823.0
162932 12337704.0
119605 190417.0
2248034 348810.0
351276 2248034.0
273036 404404.0
7371444 7474007.0
923294 986330.0
7331709 7429549.0
12328149 12450826.0
246575 352387.0
934968 1013242.0
12653290 12765463.0
9907700 10135115.0
14758885 14959669.0
20993052 21318773.0
2325427 2574925.0
4583874 4807814.0
593829 822021.0
242327 139144.0
3 374330.0
1833540430 1833893578.0
5647927 5755589.0
466843 632347.0
13448961 58667.0
1174 13538370.0
13582248 13770593.0
8881240 9057357.0
5420995 5605380.0
6803218 7078813.0
7481052 7679420.0
11469021 11712306.0
9733116 9980957.0
4225434 4502367.0
5097562 5403885.0
4056969 4394788.0
793189 885826.0
9934 235482446.0
235398341 9934.0
6186106 6303679.0
4963340 5121910.0
1358184 1500059.0
1426723 1612987.0
5131340 5453246.0
1625547 1712604.0
547976 603956.0
1251919 1307517.0
445533 540395.0
13648089 13851662.0
9110544 9246001.0
3910876 4012385.0
10786433 10957617.0
8425711 8646138.0
13362560 13602744.0
213938 315108.0
34643 143400.0
412517 596822.0
144920 221418.0
112340 171576.0
700497 773816.0
5086285 5136820.0
6070697 6130411.0
75554 126806.0
609146 815238.0
19953116 20276666.0
7193636 7570437.0
1224795380 6296.0
21677370 1224923681.0
11086240 11350080.0
7367892 7730497.0
6474761 6804153.0
6157324 6469994.0
8562319 8870912.0
10153993 10413112.0
4490 125453.0
254968 314114.0
7096829 7322674.0
10315246 10551010.0
6126605 6379019.0
2351612 2595081.0
11786815 12050293.0
18192452 18489180.0
1925037752 1925343830.0
1936385 2225345.0
340735 34400.0
458 356774.0
525242 602153.0
10630579 10840231.0
8045416 8216744.0
6663931 6812770.0
9136374 9250998.0
852406 903192.0
3937261 4016923.0
308704 416559.0
4645864 4810474.0
6142210 6215392.0
5036458 5188234.0
6304932 6445316.0
6014593 6153121.0
193065 303155.0
263382 410954.0
331209 510145.0
12793703 13013917.0
905953 1093759.0
4096598 4270825.0
8942528 9092954.0
7356326 7491315.0
45896 155385.0
3915449 4036075.0
5761888 5925999.0
15057685 15282570.0
11387973 11521872.0
1255811 1341171.0
4615718 4674990.0
71620 200201.0
2520057 2613334.0
7454093 7555486.0
3356371 3547331.0
1249220 1332856.0
14236916 14434365.0
14230533 14428280.0
1855872 1974170.0
7984213 8123920.0
2643238 2785939.0
6199445 6355369.0
3062223 3218526.0
3209856 3369725.0
6353529 6482908.0
1016047 1067556.0
1952009 2045661.0
1884728 1958307.0
202020 253787.0
976525 1031729.0
5496468 5560334.0
12583458 12739154.0
1776136 1900080.0
5129648 5258719.0
4071123 4254068.0
5339358 5562082.0
4087601 4263668.0
5241173 5409340.0
6315395 6446527.0
3109098 3215931.0
7780352 7885488.0
9296666 9428925.0
412326 577019.0
706122 931534.0
119493744 119645193.0
5004646 5102740.0
7643804 7814080.0
1109238 1259890.0
3686050 3928329.0
42 199660.0
131391 282693.0
206037 297675.0
146080 214085.0
129084 27760.0
21 159519.0
8391 94476.0
826935 937690.0
136467871 136699420.0
3164287 3398054.0

9421909 9638915.0
4932668 5129252.0
6482172 6635311.0
1936935 2060234.0
5198050 84403.0
1298 5249104.0
5197001 5348223.0
98219 272380.0
1112525 1346007.0
11860157 12041438.0
709 1736646.0
1659815 25166.0
2297270 2421965.0
5552351 5675373.0
5813379 5903874.0
5188399 5270440.0
6974338 7110447.0
1714961 1862432.0
10340196 10502236.0
14009143 14267900.0
335442861 335686395.0
10 11957681.0
11822795 55290.0
5392647 5622262.0
3953672 4305060.0
10275934 10510585.0
205714 345526.0
5058395 5132340.0
70692 141430.0
1050657 1108391.0
722 4895019.0
4827307 31403.0
11490991 11704277.0
862803 976726.0
5940581 6069917.0
5472053 5556668.0
1338592 1475286.0
1613553 1694494.0
1257152 1386278.0
31144547 31299017.0
4242446 4337568.0
7176108 7265731.0
4806872 4912955.0
5871369 6015856.0
13550266 13733101.0
531876 596439.0
661598 715544.0
5464913 5530597.0
1322692 1450683.0
569360885 569464559.0
267897 370179.0
8126557 8225856.0
52086 148123.0
1009341 1105485.0
8704105 8825910.0
7744675 7855223.0
3986709 4208837.0
8927265 9042600.0
5646901 5708398.0
4070246 4124752.0
582531 643597.0
452142 601084.0
10886211 11120910.0
1124658 1298617.0
100989675 101132631.0
9054501 9160289.0
516265 609938.0
473153 606996.0
7159993 7263690.0
2391660 2460614.0
6301537 6371974.0
5148639 5215939.0
4604406 4673279.0
7744339 7823400.0
3966351 4070566.0
1631767 1720868.0
168553 251664.0
3659688 3781276.0
221717 301132.0
211781 284192.0
234700 316569.0
446194 597694.0
382007 555271.0
284886 442840.0
266384 406503.0
355519 535018.0
4669874 4917306.0
15379477 15566238.0
11224995 11379849.0
3657703 3801360.0
4552182 4733531.0
1884509 2140723.0
19289018 19654946.0
2801897 3405271.0
354560 444603.0
509411 645635.0
527665 663048.0
796119 999818.0
3714011 4086702.0
885796390 885684993.0
16877945 17034338.0
1562721768 1562896629.0
47345 139188.0
1245145 1375164.0
572351 695478.0
9154471 9229964.0
1528357 1607333.0
3198581 3303931.0
2467916 2549186.0
4632207 4836400.0
6510008 6837269.0
4815728 4912506.0
7107251 7321248.0
18487962 18722755.0
8472939 8669527.0
5753913 6081005.0
8298670 8384544.0
7247322 7393536.0
6444736 6571144.0
1304582 1365527.0
1298894 1429156.0
6385842 6520078.0
5914215 6032405.0
7309400 7439086.0
11700756 11906377.0
9157846 9316941.0
922 82665.0
86425 17529.0
1135 130769.0
8145 144095.0
11170773 11263580.0
6411834 6477306.0
253509 365910.0
13303790 13445846.0
7714795 7838066.0
13151710 13537988.0
476016 215813.0
25 588265.0
305028 512207.0
3114868 3262006.0
3377526 3429154.0
3124948 3217292.0
3922295 4033517.0
2089020 2262884.0
15475789 15669506.0
17267695 17525633.0
22627313 23009261.0
10542490 10656142.0
506850100 507032190.0
9321311 9515386.0
1877766 2037515.0
2524018 2610242.0
14343300 15076074.0
10353280 562850.0
265 10392208.0
25280829 25774078.0
298498 735869.0
1397910999 1398252437.0
5535972 5747130.0
14299832 14590738.0
7687220 7999891.0
2517213 2910745.0
5965055 322402.0
2214 6026439.0
1706912 1773842.0
1784972 1940018.0
3430650 3578659.0
1871545 1946450.0
140698 241967.0
5519524 5686054.0
5695006 5832076.0
567819 620937.0
416111 490821.0
1037817938 1037963170.0
1534643 1744438.0
1821747 2024652.0
9207548 9339006.0
8321787 8412651.0
89248 182088.0
189840 293016.0
190377 404188.0
97400 230842.0
132344 302957.0
307052 605776.0
8016873 8128710.0
6491418 6629467.0
1209426111 1209183358.0
873429 1131572.0
577986 724656.0
7503421 7636183.0
2923726 3059708.0
1844152710 1843985956.0
10332157 10548354.0
9034929 9332940.0
21165709 21513846.0
4009375 4092568.0
7123233 7329447.0
4183674 4358731.0
11886181 12138323.0
5791812 5872114.0
3351949 3519919.0
4957577 5144684.0
1862008 1950085.0
472187 541188.0
9083659 9226667.0
5002318 5120693.0
1311949 1381526.0
8013181 8142633.0
6322073 6415905.0
9544671 9686939.0
110575 197820.0
2770431 2880499.0
5804722 5911892.0
8294512 8425847.0
2763626 2934454.0
11243843 11371033.0
14763462 14947311.0
5341593 5618575.0
5828041 6114529.0
12051452 12348321.0
305286 564509.0
1660738 1882054.0
1234780 1407985.0
134218317 81.0
1 134218317.0
11192976 11371953.0
8895551 9000698.0
6077962 6173099.0
5792578 5994906.0
3838907 3911276.0
9217120 9383255.0
827974 1167600.0
523855 723689.0
478922 686541.0
6437571 6585276.0
5249094 5358337.0
4604473 4686414.0
248939 322281.0
5748702 5805270.0
3888440 3984419.0
15537540 15668478.0
17328529 17507438.0
9487291 9715441.0
4217752 4410148.0
1271954 1557260.0
9725081 9800278.0
6728111 6783088.0
5700792 5764532.0
1410929 1482109.0
655780 747804.0
984868 1087928.0
1005899 1086061.0
5945540 6080708.0
6497445 6656658.0
232247 419437.0
390283 659947.0
5915049 6090195.0
4703013 4913391.0
2807511 2993337.0
8874504 9099521.0
3094012 3329927.0
7317014 7596437.0
12820518 13015485.0
11957516 12140489.0
4409254 4732815.0
2593134 2888136.0
1616130 1800431.0
1386359 1538249.0
2461635 2724027.0
1193595 1314573.0
326668 406909.0
1743008 1928646.0
8257955 8402767.0
6524181 6619400.0
9615000 9758095.0
1240513 1385705.0
43503 143241.0
32971 140943.0
90604 281755.0
52604 131390.0
1573 132070.0
21 194309.0
79361 229638.0
153940 441613.0
193695 503676.0
1213 196881.0
87773 209610.0
10873972 11054353.0
12286096 12477264.0
3317346 3507001.0
689864482 689679844.0
134753 398687.0
941108 1301080.0
21240253 21667559.0
18921714 19312835.0
3864159 4078287.0
8727315 8840861.0
9614441 9709365.0
350296 459170.0
472957 618493.0
432861 578859.0
285725 395512.0
1811179 2043405.0
1786683 2015545.0
1447882 1640849.0
1232913 1402186.0
1147784 1298608.0
1596752 1814195.0
2560817 2897547.0
4194219 4720033.0
529308 605322.0
749804 851926.0
939998 1069621.0
1496382 1687909.0
1761576 2012378.0
1833072 2234492.0
4318927 4375166.0
2852046 2949476.0
8476265 8673689.0
67705749 67787256.0
103771083 103841836.0
874924 1022345.0
356287 474784.0
4289639 4352812.0
846597 896796.0
6040233 6132538.0
2545456 2660445.0
7358245 7467032.0
1082900 1175551.0
807102 866622.0
584704 642217.0
941020 1010699.0
1862603 1931962.0
3411506 3686268.0
17858292 18170627.0
141292435 141582325.0
17226642 17466769.0
17767842 17924404.0
15104556 15288585.0
21994379 22261580.0
11784312 12108226.0
8704182 8904472.0
7009775 7127383.0
6109559 6204980.0
9905372 10075293.0
1858075 2108640.0
3346396 3577050.0
16577370 16778779.0
7430689 7547347.0
2290263 2378645.0
3581481 3855892.0
428 1119734.0
1010327 17875.0
1612045 1762613.0
1303732 1501750.0
11546490 11741379.0
4959239 5082868.0
10304349 10449060.0
4242120 4428191.0
7045901 7446121.0
19752176 20121852.0
16113991 16429728.0
11416542 11641681.0
8292842 8455443.0
11728215 11930828.0
890160 1144254.0
54580202 54795423.0
2729 3117758.0
3084643 12369.0
618293 2633475.0
2528673 648574.0
113648 177791.0
104560 190109.0
97411 184398.0
64295 136826.0
5414540 5512753.0
111494 243780.0
3133381 3277914.0
4481732 4650320.0
2682113 2887933.0
3114776 3333179.0
3818196 3969241.0
1716202 1943427.0
13853329 14093168.0
4645043 4865975.0
5784899 5924661.0
880174 1203291.0
1518351 1597318.0
185540 295087.0
2717272 2807063.0
68808445 68958152.0
5373237 5487874.0
3465061 3538156.0
886200 942699.0
4670162 4730609.0
3734274 3856120.0
542752 804804.0
17506303 17759657.0
8964526 9091774.0
389949 518009.0
4304867 4474480.0
5403260 5523247.0
207066 332364.0
4515833 4668178.0
7 2344491.0
2312699 17759.0
282259 359952.0
381125 494405.0
6118907 6284275.0
5899927 6015551.0
1950602 2065055.0
4655652 4860170.0
6425687 6734044.0
7646192 7990525.0
1034669 1144782.0
1346685 1491027.0
8034469 8171446.0
5141146 5218982.0
444454 509556.0
7597170 7707690.0
878121 973914.0
7340370 7461288.0
2711288 2813314.0
10266608 10382041.0
4627463 4814635.0
21178021 21445624.0
657311 741944.0
772226 880367.0
156617 62349.0
20 195600.0
145807 263333.0
225257 405014.0
9016674 9271952.0
6877672 7025982.0
2827060 2887059.0
2783607 2866587.0
8942599 9108138.0
2569579 2744129.0
8609305 8768361.0
908764188 908881626.0
37397361 37487130.0
1261250 1385915.0
9037188 9182150.0
9587388 9733084.0
2130282 2218986.0
12 131072.0
131072 12.0
9912445 10178605.0
16831670 17279786.0
1814047 2136508.0
24424654 24680850.0
6265453 6438070.0
3804915 3925990.0
20681661 20845936.0
4093913 4314851.0
29643119 29940217.0
31714467 32053375.0
24155329 24505772.0
997 164368300.0
164252522 149556.0
1177959 1346405.0
7214817 7317621.0
16777699 16876681.0
190738 260570.0
261984 349943.0
434335 596171.0
108907 169235.0
345882 478935.0
301404 414628.0
323833 439496.0
115595 172371.0
4331982 4440944.0
496338 563276.0
2682 426710.0
10242847 10660008.0
434042 497569.0
9614006 9722907.0
19193392 19301143.0
458756 524481.0
524398 458761.0
4576774 4659941.0
118106363 118175950.0
4647894 5222846.0
3398510 3821932.0
2698690 3031525.0
1755741 2012119.0
413563 479722.0
692306 784210.0
1053857 1191994.0
1575733 1771622.0
2259239 2538432.0
3285827 3678279.0
6619600 117667.0
75 6624746.0
1057563 1132516.0
4484965 4568506.0
3586190 3703612.0
11761761 11912211.0
1424121 1575946.0
3655386 3790903.0

1451996 1595094.0
6602136 6761576.0
9631730 9857654.0
15419517 15611413.0
3531764 3776707.0
22712020 23019317.0
2880809 3179687.0
1952783 2143982.0
1768883 1983113.0
6042516 6316911.0
959 7066197.0
6919613 97304.0
6537330 6646208.0
4515809 4639890.0
3925297 4122049.0
11840909 12129246.0
1754914 1821284.0
1563620 1676416.0
505589 607885.0
3165459 3267314.0
691759 802219.0
925831 1043586.0
3925052 4037268.0
1376536 1549750.0
9102431 9376418.0
10407399 10783099.0
1867180 2273524.0
22306352 22735654.0
23498458 23788763.0
24255053 24487557.0
17620170 17812855.0
19201109 19482218.0
3547824 3886262.0
645393285 645822328.0
2675017 2855415.0
90619 266442.0
6056900 6235335.0
655036 717236.0
8135602 8261539.0
11601222 11854565.0
1961895 2208741.0
2487854 2786518.0
2587686 2897814.0
2440308 2735070.0
1493771 1675428.0
1041247 1176495.0
720167 818147.0
478249 544534.0
396276 453188.0
435896 493988.0
756711 845652.0
1289390 1451036.0
849 100946.0
1 122660.0
232312 55399.0
2068 260951.0
209585 143759.0
1 224323.0
2447 64867.0
144539 9273.0
1175 160697.0
490549 548600.0
5602206 5733309.0
8778646 125098.0
2046772863 8817079.0
670 2046736037.0
19349296 19497777.0
2714867 2914729.0
1546230 1609413.0
174339 286498.0
204408 353241.0
41651 241914.0
3309135 3578148.0
5434222 5726733.0
3606543 3884828.0
1488583 1539784.0
176052 239693.0
2189813 2270965.0
3776050 3951366.0
1226500 1296321.0
607 13908933.0
13869320 40102.0
17191728 17325359.0
666941 732982.0
682335 896796.0
526651 680811.0
552879 724415.0
2211009 2432983.0
10976166 11248894.0
6803927 7032346.0
7372904 7621135.0
6075390 6425101.0
322614 479913.0
332124 484692.0
300992 438284.0
6780982 6951179.0
3753591 3923799.0
6110680 6277641.0
3070640 3273238.0
6525545 6792285.0
4998216 5058430.0
53998 142167.0
11538362 11687545.0
8945276 9134319.0
1286758 1521762.0
3392809 1345506.0
1114883 3429015.0
4684920 4956320.0
628608 892928.0
129206 186974.0
16106 114604.0
85587 18518.0
5181347 5301764.0
1114984 1285759.0
2458226 2550479.0
1385279 1436350.0
1431008 1501138.0
1563429 1659025.0
1869508 1974090.0
1374124 1490093.0
2197795 2331882.0
1833503 1992693.0
2942949 3111067.0
2931930 3120174.0
988939 1048386.0
1744001 1811094.0
794726 855225.0
556465 633858.0
147777 208448.0
455033 507640.0
1074019 1145418.0
3947536 4023394.0
9380988 9445997.0
1964835 2041552.0
173773 250033.0
2248280 2319479.0
6392986 6456276.0
35 53364.0
1102851 1161346.0
1873029 1959054.0
2149156 2219043.0
2254633 2343744.0
2840318 2939262.0
3389042 3503128.0
1096694 1161220.0
1536533 1598583.0
3852501 3922348.0
2356353 2423102.0
4295427 4353953.0
1179007758 1179118117.0
8622448 8748423.0
4777640 4838591.0
560449 639026.0
5824094 6050048.0
7492333 7705843.0
1537100 1711154.0
10043545 10188350.0
5030093 5091119.0
5107704 5178359.0
3965683 4043694.0
5158842 5212888.0
890974 946263.0
129536 199581.0
734853 830063.0
794 5951526.0
5846463 66758.0
13636 79124.0
3103585 3159455.0
317841 481096.0
361457 559669.0
345866 534772.0
8744306 8913766.0
18487044 18713905.0
6301310 6585321.0
8931898 9223200.0
1828401 1891361.0
1295 124358.0
1859595 1926311.0
167669 294112.0
3779802 3965276.0
347572 504699.0
2817192 2948494.0
7848773 7977919.0
1110750 1186548.0
3943866 4029816.0
14877820 15128588.0
2836971 2995398.0
8225875 8334453.0
11038216 11166108.0
2652202 2851253.0
2364411 2423473.0
3032016 3149617.0
2633478 2740390.0
1513744 1607011.0
601004 677165.0
875451665 875339632.0
2266734 2461619.0
3163785 3258557.0
8090602 8179237.0
38410 134527.0
5962739 6104501.0
7380135 7509377.0
1337143 1605266.0
5193961 5258583.0
1170932 1255442.0
3098699 3153001.0
8033613 8149371.0
3241894 3326209.0
153837420 153994607.0
1421080 1517954.0
50 7738498.0
7589902 18685.0
2063805964 2063929859.0
179962 254875.0
2304312 2357919.0
3200131 37773.0
5140620 5200335.0
3109409 3179593.0
2842476 2935496.0
4056516 4120905.0
5396078 5467568.0
95816 262870.0
2900463 3092645.0
19585067 19675797.0
16956119 17108016.0
14767722 15030143.0
25050183 25471007.0
11636932 12231293.0
212423 357203.0
344455 560181.0
373007 602316.0
238761 399940.0
51196 102607.0
23821 112775.0
1107660 1271024.0
1537998 1764941.0
2045394 2230921.0
5070288 5172907.0
42583 139617.0
330251 428511.0
2976807 3120042.0
506421 625992.0
10438699 10685255.0
5575362 5710748.0
8288579 8490788.0
86870407 87007137.0
9560198 9787000.0
8945757 9091363.0
140015 224386.0
162875 282516.0
707611 777455.0
2887670 2952771.0
1896173 1947837.0
8019424 8237713.0
11360245 11551210.0
1233279 1402752.0
8624128 8753870.0
8210315 8368312.0
23 142950.0
1723933 2554.0
131210 1743521.0
4779273 4929904.0
952553 1055775.0
5549076 5647624.0
407345 586936.0
9600248 9745117.0
6902425 7010500.0
352694 522665.0
8030207 8249717.0
12748520 12999846.0
230090 337538.0
314166 459233.0
44114 133922.0
3877850 4044316.0
4327996 4522731.0
5841984 6101303.0
643687 746135.0
30019 96896.0
101630 344762.0
221625 374313.0
2508417 2614660.0
284907 375365.0
4243136 4360956.0
27 73489.0
2701839 2824386.0
2278796 2371388.0
10243561 10337984.0
173314 263865.0
4906385 5149741.0
8806415 9068424.0
2460975 2877578.0
5170874 5376570.0
9233925 9376453.0
6437530 6545006.0
1056821 1157384.0
7732044 7855580.0
1290214 1488007.0
38541 131213.0
5928286 6068066.0
4527025 4649644.0
6709592 6901305.0
9906619 10014853.0
4070300 4217980.0
4121001 4306015.0
2682039 2829915.0
15075697 15230156.0
13860614 14116570.0
5488458 5717921.0
7456329 7627404.0
2679921 2749306.0
2021322 2076913.0
2435996 2505023.0
6405978 6509532.0
2224764 2333856.0
3066750 3135209.0
4692274 4787564.0
6580353 6671271.0
4502814 4577645.0
120839 193554.0
4347899 4444216.0
489904 677747.0
2844736 3052421.0
1534005 1647939.0
1797075 1857547.0
13559885 13710252.0
3150 115995.0
8538381 8669193.0
11395746 11579561.0
15680111 15941863.0
3734518 3802448.0
5106446 5238691.0
89609 164814.0
5763533 5894565.0
638347 700395.0
223477 276762.0
188342 273668.0
235699 371028.0
435 6612150.0
6511257 26087.0
3337023 3497887.0
6127663 6262986.0
10662234 10923344.0
8067269 8125613.0
9415977 9486733.0
7466478 7605495.0
3871701 4108983.0
21061726 21403073.0
1077551 1181810.0
758075 862115.0
1469116 1573061.0
37693153 37800641.0
6451615 6631298.0
17432870 17674744.0
815241 1200225.0
3882693 3956540.0
990221338 990294735.0
411681 524913.0
8412811 8559008.0
4217081 4342499.0
5486076 5593190.0
2801547 2936558.0
68434505 68501015.0
4393853 4490936.0
1791326 1919948.0
1969394 2122293.0
391160 534827.0
707899 846068.0
388926598 389096072.0
10939474 11045953.0
656879 875895.0
741352 915600.0
4851732 4931676.0
9457787 9578249.0
9240802 9450431.0
1087743 1175289.0
3096081 3173378.0
2511950 2610396.0
1718929 1852674.0
2400099 2530207.0
1415941 1503220.0
6330195 6457834.0
230197 474936.0
359313 595624.0
785769 976994.0
607452884 607669993.0
181197 340951.0
4113669 4225643.0
1690645 1748399.0
1717204 1823567.0
9790505 9922017.0
548868 222669.0
1910 582778.0
138678 207225.0
1723378310 1722991099.0
10185965 10622037.0
339721271 340077509.0
371463317 371632445.0
355468354 355654488.0
14065861 14331027.0
5449338 5591619.0
5153124 5252525.0
4216283 4297070.0
88675 169456.0
8756230 8865629.0
749093 973114.0
3911421 4087517.0
7290169 7428605.0
4172834 4242264.0
8863086 9002420.0
9560522 9749806.0
309179 512936.0
9360492 9489492.0
12928408 13113044.0
1281717 1219521.0
1017412 1320327.0
1176 1180387.0
920239 55509.0
1221100 1279946.0
1042896 1254984.0
4316513 4401049.0
662030 714161.0
102658607 102754033.0
4845895 4933524.0
6195580 6285025.0
419446 472656.0
432917 485412.0
993903 1114979.0
1355087 1621719.0
926005909 926270585.0
1859883 1982014.0
2871966 2961538.0
846234 905643.0
497 3854848.0
3739790 56152.0
3290050 3392009.0
1545085 1721697.0
10040031 10368581.0
1469281 1571877.0
3875239 3953227.0
305641 430808.0
17829827 17970708.0
15028539 15149049.0
4538328 4606584.0
25 51260.0
23 89901.0
45 126581.0
32 152911.0
33775082 33877019.0
6423413 6476294.0
5174530 5291809.0
190501 332635.0
4593327 4675614.0
151358026 151475608.0
5770599 5839581.0
4287944 4432322.0
17164023 17462696.0
3664372 3761960.0
3064852 3172888.0
9379439 9498572.0
9012771 9125958.0
2150811 2252212.0
619380 761226.0
2885514 3087306.0
1387674 1483372.0
3547411 3612282.0
445503 533842.0
12824059 13048099.0
1761059 2044335.0
470203 738514.0
188970 453874.0
570 2379784.0
2312492 49530.0
4594352 4716077.0
67707537 67864286.0
13916297 14099367.0
3841587 3921726.0
188765 243838.0
303004 405729.0
836971 910408.0
2739066 2835109.0

1582905 1729489.0
2600522 2832118.0
3024475 3137815.0
11497517 11691489.0
369792 536444.0
303479989 303571271.0
4500929 4713765.0
52022024 52105240.0
419273 608021.0
11697502 11830143.0
2115969039 2116066893.0
478197 569521.0
2267775 2397890.0
8492182 8727815.0
3901862 4032217.0
3511285 102426.0
18 3511766.0
9729368 9825287.0
11990051 12132417.0
8442830 8664887.0
14047230 14431860.0
1158882163 1159035620.0
670794 775303.0
7760283 7848483.0
6642572 6723341.0
6144211 6250124.0
13400313 13571634.0
524549 118146212.0
118100625 536287.0
12180529 12235103.0
4807734 4878528.0
3 69159701.0
69010026 54709.0
102486894 102648530.0
7317606 7382958.0
5624506 5742210.0
38 9500468.0
9424918 27983.0
13777021 13897563.0
127 8437383.0
8362503 32818.0
10932636 11020658.0
28502 102926.0
7772532 7979324.0
857203 1000773.0
10146338 10241548.0
7760829 7839955.0
353286718 353354082.0
4723938 4842194.0
11699 122754.0
10 126195.0
29321 277613.0
6467129 6572225.0
3224083 3413940.0
583332 738991.0
6033806 6156674.0
28934 117577.0
2045627 2406888.0
19389700 19671414.0
16672854 16901865.0
891295 942380.0
1753078 1838326.0
1056019 1190750.0
124675 229525.0
273074 505758.0
249361 421837.0
12645 204637.0
8840413 9010401.0
15938771 16153612.0
22732058 23068462.0
1 458910.0
458880 13.0
856184192 856269876.0
3440551 3495044.0
6989287 7124514.0
7070443 7164734.0
8394846 8518430.0
2278022 2367924.0
3284845 3335924.0
9054630 9139028.0
2301917 2409521.0
10605645 10728480.0
11331018 11473888.0
9470290 9680226.0
1737174 1926803.0
10089438 10243222.0
118939958 119029870.0
4668698 4754861.0
7578230 7729418.0
6190647 6261596.0
5022907 5087356.0
244665 308174.0
3597784 3665803.0
6036149 6125085.0
9047587 9188193.0
14020514 14270120.0
72933 143935.0
146447 283044.0
210159 400449.0
253300 493239.0
393 87346.0
255473 505003.0
98718 305126.0
274118 518570.0
179865 301247.0
380 93924.0
55999 5761.0
7298537 7366873.0
5818608 5890538.0
792057 843734.0
6396641 6453607.0
118495520 118641279.0
185498022 185557634.0
570024 639340.0
7104135 7215164.0
3236046 3439749.0
13581290 13803188.0
3455606 3662323.0
259520 36656368.0
36579557 339447.0
10309370 10555813.0
4831287 5000185.0
5359197 5497221.0
2064762 2148078.0
3865636 3925124.0
3846584 3919753.0
2408053 2591890.0
138180 261677.0
923979 999469.0
151737100 151798723.0
232732 365597.0
186107 296432.0
592744 761859.0
2066261 2199502.0
1273906 1395549.0
7459498 7569329.0
605050670 605124543.0
7293917 7348182.0
17124341 17196570.0
901267 963775.0
746751 798946.0
474912 574819.0
7756216 7913131.0
988382 1259417.0
819870 1056304.0
3094303 3297762.0
6382076 6577025.0
829523 879782.0
916337 970874.0
894855 955933.0
872450998 872543958.0
938513 1002760.0
194389 254954.0
1602922 1725459.0
1610321 1770357.0
696 1203538.0
1121510 26331.0
1161645 1265952.0
1267669 1390470.0
3709804 3768133.0
1608697 1662229.0
541866 628450.0
497806 557734.0
1585434 1657506.0
525698 647093.0
156510 211700.0
139899 190782.0
218258 298387.0
3168417 3260074.0
841812 926607.0
1816508 1911778.0
6786594 6855627.0
5354018 5408859.0
1778005 1873497.0
1870129 1924178.0
122560 198716.0
2066779651 2066649088.0
2011218 2148911.0
6099021 6310365.0
340873 400803.0
509933 597742.0
509386900 509526167.0
405874 478223.0
643944 759615.0
377243 446599.0
1252527 1358012.0
1049414 1213770.0
1761848 2036586.0
797547 910064.0
6063694 6199008.0
11820840 12044916.0
530295 583834.0
6725071 6901005.0
5902976 6066155.0
8651014 8869126.0
6175162 6285436.0
15164344 15466203.0
20289379 20579858.0
16463842 16667293.0
13524012 13715142.0
1639823 1791716.0
4239446 4362920.0
4474896 4632230.0
2601247 2799359.0
11270160 11551706.0
2371611 2497459.0
4759937 4831041.0
2950837 3036487.0
564616 615952.0
4793487 4862182.0
1999967257 1999808212.0
1410170197 1410288574.0
11070458 11156126.0
1925991 2005629.0
1678739 1748914.0
1157453 1232925.0
6406800 6521232.0
7346862 7505144.0
432732 662190.0
5207377 5607488.0
607583 942260.0
8301707 8716663.0
5050187 5241737.0
6258981 6383234.0
1544802 1754950.0
1927019602 1926861428.0
2131277 2465771.0
3001769 3094018.0
13521340 13846868.0
11688809 11945794.0
819863 1054045.0
2927781 2992874.0
3473434 3535219.0
2727787 2782920.0
1450086 1505979.0
246636 429423.0
347959 147346.0
9 391726.0
8385150 8582378.0
4784889 5014510.0
13471899 13803229.0
1766112 1908458.0
3412215 3575374.0
1762411 1923581.0
1237783 1417410.0
2575336 2777249.0
1264220 1320238.0
67527103 67582180.0
2802774 2884643.0
2992520 3069326.0
3887865 4033370.0
1932567 2126623.0
673973 858325.0
3693572 3860573.0
1887480 2028523.0
11533292 11850187.0
13140791 13346424.0
7552277 7803195.0
2715257 2769972.0
196245 345155.0
4430812 4545353.0
5393730 5544121.0
237 2944731.0
2905688 6040.0
1301755 1475309.0
13473025 13660258.0
13417624 13618148.0
5151351 5364181.0
9464438 9584783.0
8432036 8541413.0
4087935 4155681.0
15280366 15474264.0
1089740 1263714.0
6501408 6647925.0
7615479 7772009.0
589825 1.0
364 589870.0
3469261 3564517.0
6516928 6812281.0
2010922 2230751.0
9960053 10112369.0
6689277 6794688.0
3491223 3643535.0
539795866 539915259.0
1559914536 1559863757.0
3047703 3123564.0
7700367 7826173.0
134055 237455.0
33318 103010.0
7828839 7896478.0
4433357 4559451.0
10 1349739.0
1241785 20188.0
1797557 2002629.0
5844347 6078009.0
2876577 3139881.0
20196745 20431024.0
663837 884627.0
1625044972 1624832728.0
1242008756 1242093114.0
193408 267934.0
153906 257340.0
999204 1147525.0
6006972 6209869.0
374319 553744.0
261359 434227.0
8496495 8699278.0
2571233 2820367.0
78770 148511.0
163447 288836.0
201409 375766.0
188266 339454.0
159522 295988.0
124946 234118.0
65342 115586.0
5 56324.0
341 94318.0
91843 177697.0
76274 168894.0
82728 143205.0
72003 133195.0
105934 194535.0
164176 283385.0
69990 124327.0
180671 263144.0
2499980 2591214.0
429862 554908.0
47892 157643.0
12233989 141754.0
1011 12274281.0
7299138 7397024.0
985522 1075538.0
7888 74208.0
2619946 2772739.0
3716997 3909468.0
1524812 161693.0
1022 1705338.0
3403981 3632086.0
170 1506660940.0
1506754828 71363.0
1382841872 1382975162.0
8733063 8876437.0
3664588 3758220.0
1295333 1374312.0
16815242 17049677.0
12633599 12923361.0
5607453 5884734.0
270651 334676.0
9570974 9750145.0
8998240 9153077.0
409225 516134.0
1956549 2036107.0
855653 955167.0
10490728 10644834.0
17564883 17820230.0
3452803 3824256.0
16336602 16789619.0
3924447 4314389.0
24928 188481.0
641 178994.0
3033462 3303495.0
14944989 15187060.0
15315722 15576277.0
2175812 2495443.0
1667401 2055758.0
1419889 1487444.0
5988592 6101844.0
8629986 8782475.0
11701761 11888980.0
15204820 15443157.0
22836301 23107938.0
20188763 20459381.0
7072205 7283934.0
6818664 1761812213.0
1761655043 6920576.0
1978 16893455.0
16803258 83796.0
278225 570371.0
33699365 34011272.0
4443900 4659417.0
1644100 1850179.0
18704391 18981095.0
215 1408008.0
1347075 12302.0
585595 642338.0
751901 855350.0
1064168 1351062.0
3958012 4056163.0
6496105 6632075.0
329103 577310.0
1834222 1992043.0
594574 695576.0
9532438 9642161.0
19686526 19906215.0
3682573 4141796.0
12378 64044.0
18922 97501.0
23437 230981.0
7033793 7243825.0
2385390 2555638.0
8466455 8671186.0
9089975 9367633.0
1866349 1969059.0
1009523 1065043.0
222797 282884.0
474190 581322.0
262979635 262762458.0
306046410 306422399.0
5603613 5817250.0
5952278 6068282.0
322 6163332.0
6052126 11356.0
9909129 10052741.0
10189406 10361390.0
10931776 11098304.0
121158 242561.0
4277260 4414330.0
5897383 6025230.0
2760528 2814034.0
1982781 2064651.0
154733 279476.0
10135685 10300197.0
3127742 3246344.0
11230832 11414733.0
655365 1297159.0
131141 655390.0
1293205 133045.0
7567954 7735758.0
169541391 169655265.0
1191961 1280188.0
1057474 1125240.0
3862448 3931266.0
800459 856731.0
14632507 14766775.0
833404 950195.0
403015 509263.0
973206 1040996.0
1917920 2038222.0
1810592 1884437.0
2644330 2731833.0
1308622 1362484.0
5245093 5406492.0
3198286 3251812.0
2684799 2781724.0
2695482 2944884.0
2813541 2932153.0
6144194 6249430.0
77876 173188.0
656856 777877.0
1081443 1260376.0
4048901 4293693.0
7192801 7458938.0
5878838 6154191.0
5242232 5509240.0
347474 616313.0
4746475 5014094.0
4214267 4449720.0
1712546 1910159.0
1050497 1182040.0
1622 1510930.0
1270630 1622.0
5308775 5581475.0
8487290 8750610.0
1833446 2076956.0
2346688 2582452.0
2148910 2407794.0
1840148 237477.0
14 1841376.0
781362 946462.0
1538766 1735462.0
433955 594897.0
1135756 1274323.0
2041372 2159579.0
2743068 2896007.0
2804607 3020283.0
1509176 1692047.0
4206980 4312022.0
524879 2645434.0
2597467 529644.0
2024019 2124393.0
1661641 1725956.0
1498622 1567122.0
805405 866009.0
323708 376102.0
801374 877049.0
2169243 495.0
53 2171090.0
219970 326500.0
4676792 4748340.0
1309626558 1309688654.0
1662412116 1662509011.0

118735918 118835216.0
4188200 4244832.0
783826 874436.0
4044044 4172595.0
19537675 19726415.0
14429680 14601086.0
7787211 7929298.0
569442710 569525997.0
135401 324415.0
4764628 4936619.0
235294243 235351038.0
152377 249634.0
135930 203813.0
41577 100134.0
1526474 1580522.0
2621664 2717362.0
1835582 1949903.0
1149253 1224872.0
1653444 1754086.0
993797 1055841.0
1070311 1144019.0
6465181 6613324.0
5424395 5568584.0
4391619 4675615.0
2219698 2283246.0
5501215 5828831.0
3314153 3532431.0
2173783 192278.0
163 2209769.0
7180372 7465097.0
14128375 14354782.0
14755066 15027353.0
1529321 1597179.0
10772332 11006503.0
4033699 4214906.0
11433819 11588289.0
4101263 4336054.0
19847888 20262738.0
1766053 2139191.0
239135364 239473339.0
4440282 4722142.0
18300841 18570191.0
10220077 10538513.0
8867323 9208784.0
178591 578543.0
7444159 7570776.0
295301 431739.0
8644717 8872324.0
1348901 1408681.0
1238220 1333432.0
1490355 1800240.0
3111097 3331459.0
1237568 1481299.0
4612269 4944755.0
56018056 55756774.0
5361757 5713728.0
1208509107 1208634574.0
9506384 9641450.0
1445967 1567691.0
11155380 11355344.0
2238185 2388781.0
935820 1049715.0
10633573 10727935.0
12447299 12506166.0
821210 931061.0
4622668 4827072.0
592229556 591986692.0
7353953 7634049.0
8602804 8937898.0
91954 234953.0
6702920 6862336.0
3941411 4022527.0
6309182 6415579.0
7616432 7736370.0
6074831 6202242.0
6215209 6347506.0
1254813209 1254665094.0
5 16336060.0
16302486 5010.0
0 720896.0
315184852 315244086.0
15933271 16013493.0
99170 219485.0
150251 707270.0
1048674 1722883.0
2413800 3194684.0
2471230 3227446.0
3482795 4200716.0
195835 700440.0
856 301288.0
2247970 2821945.0
2715073 557860.0
2580 2885384.0
188 306415.0
108504 47742.0
8261674 8556570.0
1445864 1787071.0
2460013 2736751.0
5499185 5614546.0
1247297 1475684.0
135726 342864.0
164020 497477.0
552 1824508.0
23 73604.0
1710025 23.0
7329378 7510864.0
183167 350054.0
218880 394811.0
3944435 4064567.0
15749521 3953152.0
3953156 15763173.0
9117773 9257380.0
8829124 9129980.0
9129981 8847125.0
15691482 15928668.0
39238070 15742628.0
15763179 39256787.0
8739732 9054002.0
39134952 39511141.0
26 236153.0
995298 1346194.0
6272443 6598042.0
13778538 14032339.0
156481 338970.0
772849 892605.0
3650972 3829606.0
678826 867963.0
4779438 4983700.0
5815984 5963012.0
3906906 3996554.0
551832 606997.0
66847 120183.0
80992 148898.0
212908 327483.0
149742 280144.0
55704 125952.0
54273 112503.0
81844 161027.0
128407 249343.0
180275 346421.0
76656 169954.0
260389 498187.0
128566 278029.0
164190 298397.0
138802 236530.0
48 87865.0
136320 239934.0
97454 210218.0
26849 177863.0
192547 348395.0
136530 241748.0
1023 116745.0
5027947 5232303.0
671113486 2663991.0
2488917 671153305.0
250564 462672.0
139460056 1359599767.0
1359520935 139532116.0
5509930 5577682.0
3064430 3155301.0
12419122 12481158.0
1963383 2121514.0
3269693 3460713.0
18284657 18647477.0
5632230 5754462.0
7266880 7383701.0
8980585 9128633.0
1573019 1797501.0
2953564 3069291.0
406200 539372.0
8349877 8483722.0
117321 195626.0
151816 256598.0
56126 116599.0
110128 187171.0
93618 151403.0
30629 88579.0
79929 143510.0
177 74707.0
288 80363.0
55417 455.0
8170426 8297050.0
2932179 3002435.0
1134313 1184348.0
180957 264430.0
478066 678855.0
826800439 827050055.0
1915351931 1915659308.0
3699177 3775827.0
1081262 1209138.0
5872026 6044301.0
2915361 3050935.0
458752 589824.0
589824 458752.0
88241 239787.0
11390490 11568505.0
3581411 3666781.0
4798405 5011273.0
4025753 4206651.0
510749 770337.0
26753 91927.0
2906134 2956840.0
3874486 3933897.0
460873 589560.0
1720473 1781634.0
2007137 2057796.0
73603 125704.0
81700 146323.0
98592 150662.0
2059618 2215498.0
5711377 5811997.0
1376738 1445983.0
2448635 2551423.0
2185839 2240268.0
3258134 3370936.0
18854331 19218699.0
5777674 6009944.0
2233123 2408460.0
6080631 6259080.0
10671263 10980342.0
222671 311490.0
589712330 589823673.0
4339673 4426555.0
3207213 3283064.0
386 5359422.0
5312123 26124.0
3441628 3517045.0
1123880972 1123703261.0
11585014 11810826.0
3017353 3208279.0
1599866 1751338.0
4161736 4271596.0
2304507 2423195.0
2917212 3065676.0
51627580 318991277.0
318974796 51631948.0
2840327 2926864.0
306932 393898.0
8483641 8640912.0
5199071 5402895.0
202075707 202129929.0
1174778 1262411.0
805970 900596.0
6816011 174594.0
326 6844908.0
10179569 10346783.0
7563627 7821913.0
582786 761227.0
6914332 1761789326.0
1761654126 6924207.0
6144550 1560440176.0
1560341984 6151913.0
131089 118173967.0
118123189 136256.0
780267 834262.0
5636358 5872048.0
9397468 9596571.0
2915626 3032862.0
1585200 1651136.0
2875120 2946117.0
7001486 7095227.0
6180763 6263513.0
5585598 5651303.0
5589228 5666099.0
9617107 9743274.0
4590851 4772328.0
4478104 4717917.0
21696574 21979134.0
1014927 1087814.0
1205861674 1205748082.0
7610173 7773571.0
4001632 4183905.0
14391776 14662546.0
1200129 1612469.0
11315113 11875960.0
27983891 28512156.0
42139128 42587172.0
886499 973519.0
4845542 4898633.0
2855975 2931528.0
10445755 10639502.0
7949599 8120037.0
6033697 6192386.0
3748358 3838057.0
3952638 4032787.0
4991893 5087962.0
307179 496103.0
6864950 7134574.0
11135002 11389554.0
5115124 5335962.0
1550014 1739768.0
137 2311116.0
1245970956 1791.0
2193513 1246008459.0
4 3529766.0
3518341 5608.0
1739424 1806923.0
723771 809840.0
910412 1066132.0
2721199 2930463.0
2891414 3067568.0
2809846 2913710.0
1615313 1769052.0
533904 665574.0
7390444 7703724.0
997276 1158530.0
7123402 7337981.0
12437890 12714283.0
10161070 10517110.0
11779264 11852305.0
1771325 170550172.0
170526823 1802589.0
68588772 68746109.0
7653661 7859936.0
2789973 2901562.0
7851754 8021537.0
495170 557635.0
656277 863205.0
82333 239503.0
90389 276866.0
48243 264586.0
356164 581503.0
332198 479327.0
509795 610565.0
307311 460493.0
3211747 3524587.0
6441401 6749461.0
3158282 3417952.0
7028413 7294204.0
1291351 1356851.0
4701524 4792510.0
53 4982193.0
4871979 4724.0
572 7270898.0
7116765 14313.0
9599697 9828349.0
1839417 2153686.0
4142651 4576333.0
12588092 12903424.0
3180407 3543201.0
6722257 7096090.0
6715794 7050429.0
2018897 2266646.0
9379858 9583117.0
3863714 4026054.0
9385558 9831232.0
7655890 7999199.0
63949 127656.0
124857 235811.0
145275 305409.0
192718 409026.0
244232 538343.0
262820 498548.0
300176 662789.0
0 211133.0
390993 30527.0
1327 458205.0
9 81140.0
546 57092.0
140130 13520.0
321 171503.0
188860 75318.0
89465 225659.0
1 90958.0
141689 255200.0
59568 185324.0
39408 98644.0
57897 134602.0
13434395 13612964.0
8696845 8935469.0
66393 316579.0
7263922 7580917.0
2810699 3235273.0
11923343 12217071.0
8773791 8974761.0
3492830 3646892.0
5462881 5668600.0
4882246 4965415.0
4029530 4093622.0
5778580 5834696.0
15435303 15682423.0
12190342 12346882.0
6528449 6618690.0
5051637 5125183.0
6526400 6611095.0
5778689 5856445.0
4131929 4305802.0
5293980 5368523.0
1507442 1591669.0
7879557 8043912.0
10927866 11054609.0
2120379 2212638.0
11415691 11527450.0
8675359 8740809.0
1709217 2054182.0
4124677 4388775.0
4867594 5177605.0
755926439 756075846.0
7661270 7834651.0
6382961 6555742.0
16710461 16958765.0
15388965 15628658.0
1260509 1447642.0
1670168 1813965.0
100306 175805.0
2134757 2246406.0
3909775 4044748.0
1479160 1632961.0
3886358 4083894.0
1141833 1232917.0
485525 571195.0
869406 921649.0
182658 260399.0
830810 625422.0
589853 866464.0
4359913 4422659.0
4447286 4519198.0
8990526 9093916.0
138564 236613.0
685646 768028.0
491110 601999.0
340032 484949.0
3542166 3675690.0
10290341 10432659.0
3302376 3500457.0
19568884 19881384.0
2217746 2351200.0
2032800 2138975.0
1457999 1533287.0
235028977 235092447.0
352424832 352499872.0
705076602 705192353.0
5487189 5560738.0
3563994 3627572.0
7875979 7980650.0
14340749 14520628.0
9481045 9609694.0
11421375 11625643.0
3489404 3740475.0
39515 211101.0
5335682 5503595.0
1465106 1528875.0
2157504 2232353.0
4518667 4677243.0
4204653 4470517.0
4351010 4569768.0
1468773 1633114.0
8654738 8877656.0
69776 130131.0
2442 77480.0
110745 191875.0
18284 109966.0
122338 217195.0
165368 288928.0
1475 65864.0
1561 65119.0
2388413 2491840.0
4717898 4884704.0
1962823326 1962673777.0
1740570 1810134.0
4343463 4408734.0
280434 348575.0
1476800565 1476880066.0
7393610 7532993.0
363644 438664.0
11847938 11964742.0
893998 1025817.0
1103564 1167722.0
11278142 11435586.0
2244522 2349779.0
6878346 6956949.0
1215676 1297065.0
12693526 12814577.0
331688330 331473892.0
833428 895897.0
5474717 5589915.0
11950286 12147431.0
740228087 740521397.0
8225221 8367229.0
18169096 18447586.0
11608942 11816850.0
13364567 13639147.0
7686844 8006759.0
2406315 236521.0
669 2460428.0
4628185 4820563.0
4088382 4276882.0
1758266293 1758077458.0
18383082 18592339.0
1664112 1922601.0
1824569 2120891.0
1365642 1550716.0
1113014 1256815.0
796632 902773.0
361286 434213.0
430823 482581.0
605046 684470.0
1007050 1135366.0
1954467 2209399.0
1444607 1512087.0
5466365 5536489.0
7008749 7163873.0
14729 65923.0
15098 70286.0
6575933 6715315.0
5556198 5639065.0
1131237 1187943.0
4327693 4403887.0
430299 100703638.0
2493419 637545733.0
1797 1455622.0
1342925 90420.0
9141126 9363113.0
2128765 2208523.0
3166870 3218160.0
5737874 5894207.0
1105965 1221278.0
2428203 2545532.0
193873 244117.0

567386 710774.0
4632441 4887138.0
58785 197515.0
1886430 1957733.0
8404590 8617067.0
9402420 9565135.0
10138232 10318174.0
183278 309218.0
365435 612186.0
11152 213791.0
2569098 2622729.0
879377 961588.0
79524 133283.0
155520 256947.0
147959 246980.0
270689 323457.0
5049877 5121950.0
3310815 3473693.0
17330424 17641115.0
270559 365610.0
111417 184153.0
134276 192153.0
325101 427026.0
3223450 3296328.0
15858359 15783773.0
783788 846625.0
5873903 5936358.0
36593 154050.0
1501658 1564384.0
23 584932.0
560529 15948.0
14 825548.0
789557 24733.0
155830 217413.0
4820764 4883459.0
3055370 3113921.0
7384073 7604589.0
3175218 3354388.0
137951697 138215060.0
557302 729271.0
67890 153733.0
2676984 2790064.0
2099056 2245554.0
1706036 1824478.0
143906 224587.0
1895121 1993568.0
1124398 1271567.0
3449294 3691045.0
875057 1063562.0
1851065 1920511.0
6227970 6354125.0
4857825 4991458.0
190841 266261.0
4585897 4655159.0
6012154 6095429.0
5278884 5393899.0
4211600 4391158.0
453029159 16761354.0
16730529 453031810.0
1836480 1958769.0
5183834 145109.0
10314 5196852.0
997287 5297068.0
5197465 1004928.0
1321646 1440645.0
5481056 5623520.0
15839435 16190646.0
2593492 2969088.0
14512785 14852082.0
10846990 11140819.0
5645436 5801996.0
5102585 5199718.0
4633106 4724325.0
4790584 4912916.0
6668094 6841408.0
7357246 7579620.0
4684879 5013420.0
763334 1064599.0
9026078 9296805.0
4582410 4745935.0
10771393 10904080.0
7711179 7801654.0
2845537 2990357.0
1664298200 1664471916.0
7879599 7973541.0
4768167 4829282.0
757302 933873.0
8434993 8547797.0
1749635 1845301.0
1815998 1922355.0
157355 222884.0
145780 216418.0
267308 101748.0
579 270902.0
142230 203847.0
97726 38823.0
67122970 103605.0
233 67122970.0
137 79123.0
199734 249911.0
1494688 1568509.0
7658876 7737438.0
2136988 93992.0
871 2152170.0
543476 693722.0
5363738 5463505.0
8312458 8452006.0
1087515 1182226.0
5585449 5695044.0
1267402 1394690.0
344985 480695.0
4991932 5087944.0
3819368 3907943.0
1438472 1505722.0
1415292 1473395.0
2647990 2765560.0
230 5596236.0
5439207 5516.0
4278853 4350325.0
3253724 3383969.0
6290087 6413690.0
7870322 7962719.0
9182875 9252705.0
13256733 13320095.0
1010410 1096856.0
1248986 1380101.0
3648890 3845395.0
8631333 8766053.0
56310 146051.0
5076716 5132636.0
28976 91692.0
25946 106773.0
1386484 1476596.0
933256 988819.0
2596150 2676772.0
187786 336740.0
166552 297109.0
139115 247402.0
104929 181980.0
78894 141580.0
443 101409.0
68546 124168.0
16831 67577.0
94875 172255.0
511 275269.0
162436 6567.0
197283 354627.0
784 116461.0
549 83398.0
53173 105999.0
92 126581.0
81528 26213.0
582 130779.0
64233 12470.0
210 75594.0
314 51675.0
75432 127037.0
84830 147017.0
0 112088.0
77498 25651.0
533 110132.0
69610 16159.0
307 57529.0
69883 127182.0
468 78514.0
60723 117057.0
14296999 14561105.0
17438053 17656108.0
13058482 13240476.0
1243032 1310956.0
17555871 17814024.0
9321488 9507899.0
388673 544138.0
6056449 6236981.0
16815224 17060986.0
6231644 6349823.0
7512445 7650823.0
4109881 4344540.0
2638809 2724237.0
2174931 2229891.0
4909453 5123736.0
6717293 6810214.0
325674 380848.0
2245459 2309857.0
2390185 2452951.0
9788344 9967334.0
336965576 337118072.0
134406698 134504988.0
7171459 7299398.0
2662068 2781783.0
3365124 3445286.0
259582 406381.0
193717 301371.0
929600 1113080.0
2084869 2469789.0
8421720 8774588.0
5540494 5835463.0
7372885 7725346.0
12677903 12828023.0
731334 899561.0
1075926 1214202.0
164398 253636.0
3346488 3415996.0
4189423 4310048.0
5332719 5477685.0
4308588 4404696.0
6078356 6152548.0
3695926 3792311.0
6832981 6992421.0
1048641 1105773.0
3280633 3356818.0
2817625 2976214.0
6571149 6646349.0
4321548 4384112.0
10818011 11262895.0
109196 428337.0
9088475 9378550.0
607310 835440.0
168172331 168318659.0
7 1535860.0
1509038 4701.0
1704736 1761322.0
10615090 10756480.0
15739420 15972039.0
14709327 14947845.0
3007545 3082809.0
20834 116304.0
39564 110463.0
1187246 1245971.0
4993076 5074130.0
818759 884568.0
1671895 1766078.0
10061745 10213616.0
52054 102581.0
12 143693.0
87871 21774.0
122272 235195.0
157057 290825.0
13732 106785.0
2470 54368.0
15758 93472.0
1619 69407.0
0 50734.0
0 69979.0
265840 0.0
1188 290268.0
0 73707.0
0 94290.0
213291 34353.0
0 233159.0
79 142906.0
220993 409864.0
8 192296.0
277798 82264.0
94 385686.0
266628 514577.0
2057 218088.0
0 113173.0
257727 30458.0
1260 275658.0
239455 470396.0
1519 105737.0
175794 16586.0
1340 178345.0
1944 356977.0
238126 89950.0
1925 165830.0
2199 102520.0
698 73317.0
204013 369347.0
233335 162603.0
2262 337340.0
251464 1883.0
1437 280961.0
399 119551.0
117781 210044.0
107336 194569.0
95 154544.0
109522 33435.0
110178 202656.0
124983 63113.0
0 161740.0
785 60308.0
740 121139.0
58606 113508.0
66081 121167.0
185145 349422.0
252456 188499.0
2309 252456.0
61121 166734.0
2 95542.0
62913 119613.0
271256 567858.0
348868 655008.0
368822 641019.0
289341 482032.0
144923 224491.0
56 74885.0
135135 213496.0
146862 263871.0
173062 327536.0
186164 337314.0
488 159556.0
101038 11691.0
29 185496.0
146100 8951.0
3570162 3625951.0
3637468 3712436.0
1530966 1699725.0
17625452 17945558.0
135206440 135378704.0
103477737 103570183.0
5750333 5973528.0
268449973 268619823.0
6916621 7155874.0
772166 862114.0
436598818 436730941.0
5261682 5365355.0
921069 1041962.0
4188999 4255641.0
884512 994734.0
1295685 1457471.0
3693341 3787535.0
6016301 6130714.0
7013713 7201613.0
12310132 12532599.0
14027165 14236216.0
14083917 14289319.0
13323446 13510146.0
9054462 9249537.0
2113652 2191968.0
2009714 2110786.0
5096781 5203922.0
113524 184549.0
13091970 13388025.0
11678203 11880152.0
216074 308392.0
1017744 1077201.0
40 219843.0
168229 4848.0
13070373 13197344.0
4832322 4997572.0
8781049 8881376.0
204468 315026.0
3703037 3764824.0
1568953296 1569109661.0
6592337 6745770.0
1541274 1603965.0
8082374 8212917.0
13774226 14012940.0
15379737 15656183.0
5872598 6046813.0
3118821 3209872.0
51450217 51585095.0
2640963 2792922.0
1978121 2090583.0
2113419 2194973.0
1073991 1257041.0
1686057 1835051.0
106 2787750.0
2705452 13909.0
5064017 5148587.0
3290501 3778136.0
18400935 18766479.0
1937697 2243437.0
6026050 6274299.0
804673 976525.0
1467258 1538686.0
5599987 5740125.0
5732727 5872863.0
6996951 7135777.0
9804003 10010698.0
2198328 40550.0
82 2209128.0
1014655 1137741.0
430771 550125.0
47948 31262755.0
31260679 48392.0
646807 872064.0
7915157 8212769.0
5458060 5526319.0
3816171 3881218.0
4478948 4661548.0
209 1090783.0
993735 6378.0
1195434 1269564.0
616613 755799.0
62188 235923.0
203301 262961.0
408511 547739.0
3288036 3438219.0
138225 253938.0
47535 127605.0
1246943 1330182.0
130 517539.0
469747 12118.0
524211 589979.0
909258 1000803.0
6149166 6284071.0
3350204 3458620.0
4407475 1045330.0
2122 4443513.0
983291 27991.0
2626423 2707752.0
880475 1041131.0
8844826 8989165.0
1030335 1147898.0
778778 839283.0
4526596 4629578.0
135690508 135803929.0
1339457 1439992.0
3073477 3194100.0
1164300 1230266.0
3046022 3182739.0
5158496 5398002.0
6956260 7290670.0
9886677 9972715.0
9586242 9679060.0
67377138 67474744.0
1196273 1303687.0
1519152 1662477.0
2398773 2498219.0
1238025 1308508.0
1881830 1971064.0
2310012 2451223.0
2023461 2108664.0
4968837 5123222.0
13309072 13501810.0
3824834 4026687.0
11809328 11994264.0
11278434 11431645.0
2031652 367632.0
323056 2046849.0
50639 179376.0
273701 495568.0
8006483 8131946.0
146267 232370.0
770293 890521.0
5211516 5294404.0
1927493 2043932.0
10352211 10513194.0
98298995 98540274.0
14435902 14681479.0
566366 650336.0
7638271 7771265.0
4360819 4572502.0
6857171 6997142.0
671092 800627.0
11458725 11578231.0
1302435 1405452.0
18701 116559.0
3079385 3180803.0
3286760 3386338.0
4626538 4754969.0
4669460 4848880.0
1261479 1373342.0
123806483 123890738.0
329451 569934.0
7 335272.0
524294 2109.0
459417 547560.0
501886 566272.0
39069 387572.0
14892807 15173218.0
13665004 14046568.0
372086 424625.0
2472689 2544255.0
6262043 6526946.0
2817097 3130597.0
341970943 342369886.0
4567201 4729456.0
1990 458785.0
458753 0.0
8227314 8458098.0
14 610647.0
545557 27714.0
489208 561789.0
6211248 6296463.0
5266920 5400508.0
1006685449 3932619.0
3776929 1006686889.0
1455653 1507368.0
2091226 1328.0
4859935 4931731.0
1647136 1708266.0
1582487 1637216.0
1795610 1857895.0
283538 337298.0
2027571 2096128.0
2499858 2600921.0
2132879 2219756.0
564234 631988.0
201269 254732.0
3341461 3490401.0
1373916 1493735.0
4852666 4966914.0
7265995 7351760.0
11100369 11235351.0
4534126 4708949.0
16626994 16834007.0
8449406 8697907.0
7228212 7494128.0
11441192 11685687.0
4831105 4973441.0
1932141 2132930.0
579367 664726.0
84302776 84369470.0
5625353 5708466.0
1329460 1383197.0
1164823 1219962.0
4441870 4650092.0
9337848 9601934.0
9689552 9955460.0
16042697 16301935.0
8455475 8721407.0
24815 261389.0
5234074 5456333.0
5854400 6067163.0
1982288 2201437.0
2717916 2841300.0
70933457 71155200.0
1993937 2214678.0
1789610 1917700.0
621187 797367.0
8369901 8486961.0
8999179 9098426.0
767338 875111.0
401351 489962.0
546654 648075.0
349 62333.0
45811 221636.0
34687 234369.0
96278 298981.0
263532 512957.0
39 89709.0
158946 352679.0
281462 493775.0
184 127254.0
17002 80384.0
260527 459671.0
252904 442317.0
158836 308835.0
130747 297791.0
222140 396674.0
87597 270607.0
190226 370342.0
130 432074.0
247244 7981.0
194569 354252.0
205804 381926.0

11278031 11489884.0
14858340 15049910.0
1132886 1314655.0
3750749 3948020.0
5209441 5461102.0
4014347 4223349.0
16917988 17243132.0
8656132 9090148.0
7575790 7793379.0
4382626 4466405.0
9817190 10051526.0
10042885 10233368.0
16795455 17009594.0
69256871 69445721.0
20865863 21105684.0
5804942 6084491.0
5784703 5952236.0
12082803 12278514.0
2033756566 2033958237.0
5533734 5709032.0
11769199 11938201.0
15387285 15601645.0
15234387 15451414.0
5156230 5376737.0
14105917 14319495.0
651831 759624.0
2680728 2789530.0
6119088 6232883.0
7024107 7152483.0
1230519 1425949.0
8426594 8723427.0
22778226 23195521.0
4552585 4661991.0
1482354 1636474.0
643064 724441.0
1672111 1898491.0
1280559774 1280954258.0
241291922 241717716.0
4386754 4903629.0
44548000 44166917.0
1555638408 1555281269.0
1416112091 1416598888.0
30327796 30806984.0
413323017 412879434.0
528628 637859.0
9292789 9634736.0
3754226 3998646.0
2634958 2818109.0
2637638 2802745.0
2367961 2503759.0
1801041 1902878.0
2050106 2177886.0
3299646 3546200.0
2829043 3002090.0
243087 384219.0
4570414 4690970.0
217402 344922.0
4078411 4183145.0
2131388 2274669.0
1714070369 1714287267.0
4599731 4936794.0
2321848 2425530.0
3972800 4109726.0
5975379 6124532.0
1945754 2077923.0
1966075 2034313.0
8583887 8774090.0
120103719 120287838.0
614737 800620.0
18055766 18427989.0
1944 72820.0
8896946 135010.0
1632 9012704.0
20646757 20986416.0
6263451 6588373.0
16712320 17033650.0
13992177 14310376.0
14488914 14798736.0
10683895 11061277.0
1891418160 1891133998.0
4522759 4616892.0
950689 1091702.0
2991276 3136172.0
3601327 3708099.0
1501767 1867746.0
1719409701 1719891747.0
10765608 11046483.0
7349901 145618.0
13 7428902.0
16779931 109451.0
224 16897348.0
943 528125.0
292228 7481.0
8524623 139363.0
574 8613946.0
376729 640807.0
8502239 8874888.0
3268056 3429440.0
369274 468569.0
3444280 3514995.0
3298114 3364020.0
134390 218331.0
1765435 1924367.0
2211386 2340310.0
218945325 219044192.0
3386378 3547832.0
4673 110721.0
66091 117446.0
1437 97619.0
1 116467.0
183 64474.0
316781 76127.0
2002 444744.0
209578 397679.0
6326411 6564778.0
2835722 3020312.0
11479517 11685202.0
4069535 4138769.0
584950 639686.0
6215378 6417481.0
5833421 6048514.0
14528734 14828496.0
15796182 16216630.0
3236362 3356300.0
317911 393989.0
3611304 3669649.0
5225506 5319492.0
102412030 102621367.0
621514244 621655554.0
4246846 4437745.0
15267507 15512839.0
1722376 195677.0
6991484 7079901.0
538602 600188.0
1441999 1337281.0
1289257 1483110.0
2961549 3032835.0
5446258 5532040.0
7148501 7266376.0
6660427 6786033.0
43 576229.0
504128 43.0
6710244 6826538.0
3561069 3696404.0
1567926 1655925.0
5414380 5567303.0
10296857 10525929.0
14373961 14651290.0
5957334 6239210.0
1884 917528.0
917509 1920.0
4828684 5019643.0
1208217 1333012.0
167 2300797.0
2150514 82341.0
17506306 17732797.0
2948073 3186383.0
8446233 8705162.0
2094402 2366859.0
8674057 8869002.0
393296 2064683.0
1852752 493813.0
8833557 9077644.0
2944 6568201.0
6202647 62235.0
801805 1034656.0
1826794 2042409.0
981613 1162490.0
13692293 13843433.0
1083176 1240364.0
22090089 22373711.0
197576 458877.0
458754 197611.0
117440512 458752.0
458752 117440512.0
13116072 13576756.0
587 22737699.0
22398637 221731.0
1256420 1322389.0
948415 1008187.0
7271450 7415250.0
4809796 4888778.0
3325315 3398334.0
2876061 2961772.0
3878799 4000210.0
4523885 4608103.0
11006570 11155098.0
5605270 5739617.0
8430766 8530871.0
4001301 4080063.0
5469539 5553763.0
222980 363883.0
5959786 6127617.0
2202555 2381628.0
10907751 11046527.0
6990848 7073499.0
5492683 5559262.0
8107952 8201445.0
12958997 97828.0
50 13005967.0
5890316 5971768.0
8283671 8402770.0
1836673 1954257.0
845155 907501.0
270039 404318.0
7029569 7103420.0
294795 406655.0
175405 355685.0
2628656 2766487.0
1080 855625.0
749208 14156.0
389964 486991.0
567547 721354.0
9257757 9353684.0
5195617 5296869.0
11559438 11711478.0
14680259 14917315.0
589824 1395.0
0 589824.0
168660893 168720491.0
2261839 2316370.0
364931 420861.0
1045958 1161814.0
7333546 7457380.0
3374284 3488895.0
42581 180981.0
555290830 421603194.0
421515596 555304852.0
4416894 4507518.0
5424282 5649441.0
12459327 12644641.0
362664 575066.0
1766971 1878363.0
2008002 2123880.0
4566019 4659958.0
135365160 135471885.0
4720836 5003048.0
3772883 3976250.0
933042 1097227.0
2846646 2962247.0
753891 848834.0
2299459 2407741.0
438809 570672.0
3529396 3690712.0
1085924 1149526.0
5061956 5155221.0
4664421 4793868.0
7022233 7148387.0
7934281 8131712.0
6750431 6921314.0
1876585 2085091.0
18290894 18603134.0
1827827 1881487.0
4932691 5034752.0
2452171 2521227.0
4333679 4407076.0
8095266 8227754.0
1796947 1858772.0
1356860 1416593.0
3116916 3330500.0
4270496 4652745.0
5493498 5774298.0
1245180 1467045.0
12227554 12393946.0
790021 952207.0
4384082 4583711.0
31 304408.0
29 143205.0
30 112134.0
8490577 8662789.0
7959952 8079311.0
319213 413421.0
6283468 6393126.0
8378948 8568630.0
777625 910357.0
597815 743415.0
491426 671648.0
122119 344733.0
1099188 1346714.0
2102838 2172460.0
5691968 5742868.0
5000432 5053237.0
402755 468760.0
142248 226614.0
1580071689 1580144568.0
341564 396855.0
298470 391149.0
877088 1015988.0
446933 599677.0
208860 266059.0
730854532 730917236.0
240532 290998.0
218543 271563.0
356834 461879.0
761577 997674.0
603946 788449.0
428175 570832.0
163378 236738.0
248894 349996.0
15831153 16287737.0
16152668 16641518.0
12256213 12610542.0
1001197 1078289.0
953390 1077747.0

In [759]:
# In step 17, we added a new column...lets look at it
turnstiles_daily.head()

,STATION_LINE,UNIT,C/A,SCP,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES,DAILY_ENTRIES
1,1 AV L,R248,H007,00-00-00,2019-10-27,15101784,2019-10-26,"15,099,179.0","2,605.0"
2,1 AV L,R248,H007,00-00-00,2019-10-28,15102950,2019-10-27,"15,101,784.0","1,166.0"
3,1 AV L,R248,H007,00-00-00,2019-10-29,15106496,2019-10-28,"15,102,950.0","3,546.0"
4,1 AV L,R248,H007,00-00-00,2019-10-30,15110479,2019-10-29,"15,106,496.0","3,983.0"
5,1 AV L,R248,H007,00-00-00,2019-10-31,15114428,2019-10-30,"15,110,479.0","3,949.0"

In [803]:
# 18. Here we sum up the daily_entries per station
final_daily_df = turnstiles_daily[['STATION_LINE','UNIT','C/A','SCP','DATE','DAILY_ENTRIES']]

final_daily_df

       STATION_LINE  UNIT   C/A       SCP        DATE  DAILY_ENTRIES
1            1 AV L  R248  H007  00-00-00  01/02/2020        1,032.0
2            1 AV L  R248  H007  00-00-00  01/03/2020        3,375.0
3            1 AV L  R248  H007  00-00-00  01/04/2020        3,486.0
4            1 AV L  R248  H007  00-00-00  01/05/2020        2,160.0
5            1 AV L  R248  H007  00-00-00  01/06/2020        1,602.0
...             ...   ...   ...       ...         ...            ...
616601  ZEREGA AV 6  R326  R419  00-05-01  12/27/2019            0.0
616602  ZEREGA AV 6  R326  R419  00-05-01  12/28/2019            0.0
616603  ZEREGA AV 6  R326  R419  00-05-01  12/29/2019            0.0
616604  ZEREGA AV 6  R326  R419  00-05-01  12/30/2019            0.0
616605  ZEREGA AV 6  R326  R419  00-05-01  12/31/2019            0.0

[611651 rows x 6 columns]

In [804]:
# 19. We then get top 10 stations over the 4 month period by aggregating all the daily entries together
# For example Grand Central has 14.7M entries 
top10_stations_volume = (final_daily_df.groupby(['STATION_LINE'])['DAILY_ENTRIES'].sum()
                   .reset_index()
                   .sort_values(['DAILY_ENTRIES'],ascending=[False]).head(10))

top10_stations_volume

                    STATION_LINE  DAILY_ENTRIES
434  TIMES SQ 42 ST-1237ACENQRSW   21,053,126.0
88         34 ST-PENN STA 123ACE   17,271,017.0
300        GRD CNTRL-42 ST 4567S   14,700,396.0
86      34 ST-HERALD SQ BDFMNQRW   13,355,811.0
26       14 ST-UNION SQ 456LNQRW   10,543,802.0
291           FULTON ST 2345ACJZ    9,294,009.0
115         59 ST COLUMBUS 1ABCD    7,717,758.0
99           47-50 STS ROCK BDFM    6,870,765.0
391               PATH NEW WTC 1    6,082,794.0
114                59 ST 456NQRW    5,804,739.0

In [806]:
# 20. Get mean by all columns

mean_all_columns = (final_daily_df.groupby(['STATION_LINE','UNIT','C/A','SCP'])['DAILY_ENTRIES'].mean()
                   .reset_index()
                   .sort_values(['DAILY_ENTRIES'],ascending=[False]))
top10_stations_mean

               STATION_LINE  UNIT    C/A       SCP  DAILY_ENTRIES
3283  GRD CNTRL-42 ST 4567S  R046  R238A  02-03-00      6,398.032
3280  GRD CNTRL-42 ST 4567S  R046  R238A  02-00-02       6,203.96
3281  GRD CNTRL-42 ST 4567S  R046  R238A  02-00-03      6,001.096
1394   59 ST COLUMBUS 1ABCD  R084   N051  02-00-00      5,833.856
3285  GRD CNTRL-42 ST 4567S  R046  R238A  02-03-02       5,782.44
...                     ...   ...    ...       ...            ...
3686           KINGS HWY BQ  R211   B023  01-05-01            0.0
4741       VERNON-JACKSON 7  R276   R506  02-05-01            0.0
3695           KINGS HWY BQ  R211   B024  00-05-01            0.0
3706            KINGS HWY F  R130   N558  01-05-01            0.0
4952            ZEREGA AV 6  R326   R419  00-05-01            0.0

[4953 rows x 5 columns]

In [763]:
# 21. To get the average daily entry for each station we can simply divide by 120 days for a rough estimation
#     On the other hand we can use the mean by all columns from the previous step and sum it up
#     As seen from the returned dataframe, there are 463 rows (thats how many stations we have!)
#     Note: we had to combine a few stations together, for instance we trated PENN Station as one station
#     but in the dataset is was broken down into three names.
#     We now have average Daily_ENTRIES per station.
top10_stations_m= (mean_all_columns.groupby(['STATION_LINE'])['DAILY_ENTRIES'].sum().round()
                      .reset_index().sort_values(['DAILY_ENTRIES'],ascending=[False]))

top10_stations_m.head(20)

                    STATION_LINE  DAILY_ENTRIES
435  TIMES SQ 42 ST-1237ACENQRSW      139,037.0
88         34 ST-PENN STA 123ACE      137,384.0
301        GRD CNTRL-42 ST 4567S      118,001.0
86      34 ST-HERALD SQ BDFMNQRW      106,674.0
26       14 ST-UNION SQ 456LNQRW       83,689.0
292           FULTON ST 2345ACJZ       71,111.0
116         59 ST COLUMBUS 1ABCD       61,871.0
100          47-50 STS ROCK BDFM       54,167.0
279              FLUSHING-MAIN 7       44,797.0
115                59 ST 456NQRW       44,694.0
392               PATH NEW WTC 1       44,656.0
328        JKSN HT-ROOSVLT 7EFMR       43,076.0
168     ATL AV-BARCLAY 2345BDNQR       40,371.0
224             CANAL ST 6JNQRWZ       39,990.0
447       W 4 ST-WASH SQ ABCDEFM       37,208.0
95         42 ST-BRYANT PK 7BDFM       36,465.0
148                    86 ST 456       36,136.0
24                  14 ST 123FLM       35,477.0
130                    72 ST 123       33,720.0
344          LEXINGTON AV/53 6EM       32,655.0

In [807]:
# 22. In the pervious step we we got the mean daily entries, now we have the entries by date.
top10mask = (turnstiles_daily["STATION_LINE"].isin(['TIMES SQ 42 ST-1237ACENQRSW',
                                                    '34 ST-PENN STA 123ACE',
                                                    'GRD CNTRL-42 ST 4567S',
                                                    '34 ST-HERALD SQ BDFMNQRW',
                                                    '14 ST-UNION SQ 456LNQRW',
                                                    'FULTON ST 2345ACJZ',
                                                    '59 ST COLUMBUS 1ABCD',
                                                    '47-50 STS ROCK BDFM',
                                                    'PATH NEW WTC 1',
                                                    '59 ST 456NQRW']))

df_top10mask = (turnstiles_daily[top10mask][['STATION_LINE','DATE','DAILY_ENTRIES']]
                      .groupby(['STATION_LINE','DATE'])['DAILY_ENTRIES'].sum().round()
                      .reset_index().sort_values(['STATION_LINE','DATE'],ascending=[False,True]))

df_top10mask

                     STATION_LINE        DATE  DAILY_ENTRIES
1125  TIMES SQ 42 ST-1237ACENQRSW  01/02/2020      105,448.0
1126  TIMES SQ 42 ST-1237ACENQRSW  01/03/2020      196,558.0
1127  TIMES SQ 42 ST-1237ACENQRSW  01/04/2020      189,710.0
1128  TIMES SQ 42 ST-1237ACENQRSW  01/05/2020      113,138.0
1129  TIMES SQ 42 ST-1237ACENQRSW  01/06/2020       87,812.0
...                           ...         ...            ...
120       14 ST-UNION SQ 456LNQRW  12/27/2019       62,140.0
121       14 ST-UNION SQ 456LNQRW  12/28/2019       71,783.0
122       14 ST-UNION SQ 456LNQRW  12/29/2019       57,403.0
123       14 ST-UNION SQ 456LNQRW  12/30/2019       44,631.0
124       14 ST-UNION SQ 456LNQRW  12/31/2019       70,105.0

[1250 rows x 3 columns]